[2016-12-14 05:36] harrydevnull opened #2 "error while connecting to cassandra 2.2"
i was trying to connect cassandra 2.2.4 on our network; but unfortunately rust panicked

 [source code](https://github.com/harrydevnull/cassandra-rust-test)

below is the stacktrace which I got

`RUST_BACKTRACE=1 ./target/debug/cassandraaccess
Hello, world!
thread 'main' panicked at 'Unexpected Cassandra version [0]', /Users/hachandr/.cargo/registry/src/github.com-1ecc6299db9ec823/cdrs-0.2.0/src/f

[2016-12-14 08:20] AlexPikalov commented on #2
Thanks @harrydevnull for reporting.

Seems that it panics on https://github.com/AlexPikalov/cdrs/blob/master/src/frame/mod.rs#L117
Will try on cassandra 2.2.4.

Could you please provide an output of

[code]

In my case it's
[cqlsh 5.0.1 | Cassandra 3.9 | CQL spec 3.4.2 | Native protocol v4]

Thank you

[2016-12-14 13:46] harrydevnull commented on #2
5.0.1 | Cassandra 2.2.8 | CQL spec 3.3.1 | Native protocol v4]

[2016-12-14 14:21] harrydevnull commented on #2
and one more server is speaking "tls"

[2016-12-14 14:43] AlexPikalov commented on #2
Thank you.
I'll try to reproduce it on my local environment and probably come up with something more concrete.

[2016-12-14 14:49] harrydevnull commented on #2
Btw if you were to use docker on local your will be able to switch between
versions of Cassandra easily.
My test code uses a rudimentary docker Cassandra image

My 2 cents..

On Wed, Dec 14, 2016 at 9:43 AM Alex Pikalov <notifications@github.com>
wrote:

[2016-12-14 15:02] AlexPikalov opened #3 "Refactor PasswordAuthenicator::new to receive &str instead of String"
It's good to refactor `PasswordAuthenicator::new` to make it able to receive parameters as `&str` instead of `String`

[2016-12-16 22:16] AlexPikalov opened #4 "Refactor cdrs errors to not expose internal errors"
From [reddit](https://www.reddit.com/r/rust/comments/5i5nse/my_attempt_to_create_cassandra_driver_written_in/db5pg6p/)

There are two ways to work around re-exporting the type:
Wrap the type and implement Error on it. Don't expose any internal types. This is annoying because you need to do all of the various error impls.
Use Snappy(String) instead of Snappy(snap::Error). This prevents introspectio

[2016-12-17 19:24] AlexPikalov commented on #3
Pushed and ready to release 0.3.0

[2016-12-17 19:24] #3 closed

[2016-12-18 16:42] AlexPikalov commented on #4
Fixed and waits for release

[2016-12-18 16:42] #4 closed

[2016-12-18 22:36] AlexPikalov opened #5 "Make server port configurable"
At the moment IP address is configurable only. We need to provide an ability to configure server port as well.

[2016-12-18 22:39] AlexPikalov opened #6 "Add possibility to connect to server via encrypted connection"
Since it's possible to configure a server to communicate with clients via encrypted connection we need to support this option as well.

[2016-12-18 22:45] AlexPikalov opened #7 "Create a mapper to map query result into Rust structures"
There is a no way to easily map CDRS Result Frame into Rust structures and columns into types. At the moment CDRS consumer should obtain a column value, find its type from metadata, and then decode bytes into Rust type basing on related type found in metadata.

We need to find a way to provide such functionality as a part of CDRS driver.

[2016-12-28 11:20] AlexPikalov opened #8 "Make AsRust to return Result instead of Option"
In current implementation [AsRust](https://github.com/AlexPikalov/cdrs/blob/master/src/types/mod.rs#L21) trait declares that `as_rust` method should return `Option` value.

As an error may occur during transformation of a frame into "Rust-structs" it would be better to return some `Result` instead.

For that purposes we need to introduce new type of CDRS error that wrap up errors that may occur du

[2016-12-28 22:41] AlexPikalov opened #9 "Create examples"
We need to create an `examples` folder that would contain examples of different use cases.

[2016-12-29 08:22] #7 closed

[2016-12-29 08:22] #5 closed

[2016-12-29 16:25] AlexPikalov opened #10 "Create options method to retrieve available options before establishing new Session"
Create `options` as a method of `CDRS` instance to retrieve available options before establishing new Session.

[2016-12-30 08:19] AlexPikalov opened #11 "End Session on drop"
End session when its instance dropped. Use implementation of [std::ops::Drop](https://doc.rust-lang.org/std/ops/trait.Drop.html) trait.

PS thanks [DevNullAsAService](https://www.reddit.com/user/DevNullAsAService) for the [feedback](https://www.reddit.com/r/rust/comments/5kzkvv/getting_started_with_cdrs_cassandra_driver/dbs3veg/)

[2016-12-30 20:08] AlexPikalov opened #13 "Create new type Query and query builder"
In current implementation `query` method of `Session` takes a bunch of arguments which is not convenient for consumers. We'd like to refactor it to make it taking a single argument of type `Query`.

Possible usage:

[code]

Based on discussion on [reddit](https://www.reddit.com/r/rust/comments/5kzkvv/getting_started_with_cdrs_cassandra_driver/dbsz3v1/).

[2017-01-01 09:00] #13 closed

[2017-01-01 09:00] #11 closed

[2017-01-01 09:00] #10 closed

[2017-01-06 11:13] AlexPikalov opened #20 "Fix coverage report"
As of now it shows that coverage is 100% which is not true.

It seems to be related to https://github.com/huonw/travis-cargo/issues/43

[2017-01-06 13:14] AlexPikalov opened #21 "Implement support of tracing flag"
In current implementation result frame body parser does NOT handle a case when query was send with tracing flag, so it does not expect to have tracing id in a head of frame's body.

We need to update a parser and related frame body structures:

* `BodyResResultRows`

* `BodyResResultSetKeyspace`

* `BodyResResultPrepared`

* `BodyResResultSchemaChange`

https://github.com/apache/cassandra/blob/tru

[2017-01-06 13:29] AlexPikalov opened #22 "Implement support of warning flag"
In current implementation result frame body parser does NOT handle a case when query was send with warning flag, so it does not expect to have a list of warnings in a head of frame's body.

We need to update a parser and related frame body structures:
* `BodyResResultRows`
* `BodyResResultSetKeyspace`
* `BodyResResultPrepared`
* `BodyResResultSchemaChange`

*NB* take into account a case when both

[2017-01-06 13:34] AlexPikalov opened #23 "Implement SchemaChange Function response frame"

[2017-01-06 13:34] AlexPikalov opened #24 "Implement SchemaChange Aggregation response frame"

[2017-01-08 14:20] #8 closed

[2017-01-08 14:20] #21 closed

[2017-01-08 14:20] #22 closed

[2017-01-08 14:20] #23 closed

[2017-01-08 14:20] #24 closed

[2017-01-14 21:09] AlexPikalov opened #29 "Enable CDRS conditional compilation"
Preliminary following features are considered for implementation:

- [x] tls - should provide tls transport for encrypted server-client communicatoin

_TBC_

[2017-01-14 21:13] AlexPikalov opened #30 "Move compression functionality into a Rust feature scope"
In scope of conditional compilation (#29), move compression functionality into a Rust feature scope

[2017-01-14 21:15] AlexPikalov commented on #6
Should be considered as a part of #29

[2017-01-18 19:49] harrydevnull opened #31 "Support load balancing and connection pooling"
cassandra client has to provide connection pooling options.For each Session, there should be one connection pool per connected host
details : http://docs.datastax.com/en/developer/java-driver/3.1/manual/pooling/

Similarly which node does the client connect to and what to specify what kind of load balancing policy have to be used.

details : https://teddyma.gitbooks.io/learncassandra/content/clien

[2017-01-18 19:52] harrydevnull commented on #6
@AlexPikalov : out of curiosity what are you using to achieve this
[_rusttls_](https://github.com/ctz/rustls/blob/master/examples/tlsclient.rs) ?
or [Tokio](https://tokio.rs/)

[2017-01-18 22:13] AlexPikalov commented on #6
@harrydevnull
It is openssl's ssl https://docs.rs/openssl/0.9.6/openssl/ssl/index.html
Only hardcore 😄

[2017-01-18 22:17] AlexPikalov commented on #31
@harrydevnull
Thank you for adding this issue.

[2017-01-19 23:27] AlexPikalov commented on #30
Not really sure if compression should be a part of a feature.
Closing for now.

[2017-01-19 23:27] #30 closed

[2017-01-23 10:13] ernestas-poskus opened #33 "Connection pool"
Thank you this crate !

I have a suggestion regarding connection pool, de facto for pools in Rust is r2d2 https://github.com/sfackler/r2d2 have you considered it ?

[2017-01-23 17:14] AlexPikalov commented on #33
@ernestas-poskus
Yes, this is what I'm thinking about.

[2017-01-25 17:21] harrydevnull opened #34 "Rust panicking While executing example read_table_into_struct"
while trying to execute the read_table_into_struct.rs the rust thread was panicking.

the rootcause of the issue is
`emp_id` is an `int` on cassandra table and we are trying to deserialize to `i64`
conversion from `varint` to `i64` is seamless.

[2017-01-25 18:01] harrydevnull commented on #34
#35

[2017-01-25 22:02] AlexPikalov commented on #34
Merged. Thanks.

[2017-01-25 22:02] #34 closed

[2017-01-25 22:25] #6 closed

[2017-01-25 22:27] AlexPikalov commented on #33
Connection pool had been implemented. So closing this question.
Please let me know if any further questions.

[2017-01-25 22:27] #33 closed

[2017-01-25 22:29] AlexPikalov opened #37 "Support load balancing"
It's a separate issue for load balancing functionality

harrydevnull in #31:

Similarly which node does the client connect to and what to specify what kind of load balancing policy have to be used.

details : https://teddyma.gitbooks.io/learncassandra/content/client/which_node_to_connect.html

[2017-01-25 22:30] AlexPikalov commented on #31
I've created a separate issue for load balancing #37

[2017-01-25 22:30] #31 closed

[2017-01-25 22:30] #29 closed

[2017-01-25 22:38] AlexPikalov commented on #2
@harrydevnull
I've checked this issue on CDRS 0.7.0 + Cassandra SSL-encrypted client-node connection. For me it works fine.

It would be great if you could confirm the same from your end.

[2017-01-29 10:18] AlexPikalov opened #39 "Batch Query support"
In accordance to v4 protocol we have to support [Batch Query Frame](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L379), then we need to provide a suitable API for consumers.

[2017-01-29 10:23] AlexPikalov opened #40 "Support server events functionality"
In accordance to v4 protocol we need to support [Register](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L442) and [Event](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L719) frames, and then provide an API for handling events.

[2017-01-29 10:27] AlexPikalov commented on #2
I'm closing this issue. If you have any issues with connection via SSL-encrypted connection to Cassandra 2.2 feel free to open new issue

[2017-01-29 10:27] #2 closed

[2017-02-01 19:44] harrydevnull commented on #2
@AlexPikalov : I tried with tls and i started with a wrong certificate and so it was supposed to return error instead it was panicking.
{code}
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Failure(MidHandshakeSslStream { stream: SslStream { stream: TcpStream { addr: V4(xxx:64067), peer: V4(xxxx:9042), fd: 3 }, ssl: Ssl { state: "error", verify_result: X509VerifyError { co

[2017-02-02 00:22] harrydevnull opened #43 "Thread panic while using SSL"
I tried with tls and I started with a wrong certificate and so it was supposed to return error instead it was panicking.
[code]

the code which was used
https://gist.github.com/harrydevnull/c807dcea1f9b552cc21fa9df0eaccc27

[2017-02-02 08:30] AlexPikalov commented on #2
I'll probably need to revise unwraps.
Were you able to connect to your server with a correct certificate?

[2017-02-02 08:38] AlexPikalov opened #45 "Revise unwraps"
We need to rid of as many unwraps as possible to avoid panic.

[2017-02-02 08:41] AlexPikalov commented on #43
I've created #45 . I'll start working on it after complete #40

[2017-02-02 09:11] AlexPikalov opened #46 "Create AuthenticatorNone for servers which don't need authentication"
`CDRS` requires an `Authenticator` to be passed during initialisation. That is not suitable for those who work with Cassandra instance that does not need any authorisation. At current moment in order to initialise `CDRS` developers need to create their own authenticator and implement `Authenticator` trait for it.

So, I think we may provide such empty authenticator specially for such cases.

I pro

[2017-02-02 11:09] ernestas-poskus commented on #46
AuthenticatorNone sound reasonable :+1:

[2017-02-02 11:11] ernestas-poskus commented on #45
in addition find_by_name returns: Option<Result> which is a little cumbersome IMO, Option should be enough to cover both cases

[2017-02-02 11:43] AlexPikalov commented on #45
@ernestas-poskus
It sounds encouraging.

[2017-02-02 11:54] AlexPikalov commented on #45
As for find_by_name. Do you mean this one https://github.com/AlexPikalov/cdrs/blob/master/src/types/mod.rs#L29?

If so, it appears for me reasonable to return `Option` in a same way as it is in [HashMap](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.get)

[2017-02-02 12:09] harrydevnull commented on #43
I think you can close this issue. The pr I made resolved this particular issue

[2017-02-02 12:09] #43 closed

[2017-02-02 12:12] harrydevnull commented on #37
And perhaps we might want to use 'mio' or 'Tokyo-rs' so it has better performance .

And we need to accept address of all the nodes

[2017-02-02 12:36] #39 closed

[2017-02-02 12:55] AlexPikalov commented on #37
@harrydevnull
Agree about addresses, however here I don't have a full understanding how it should look like for TLS connections.

As far as I understand there may be that only a part of nodes in a cluster requires TLS. In case if the other part of nodes does not, we have a mix of TLS/TCP connections. To handle it we'll need to change conditional compilation process in order to allow both type of c

[2017-02-02 12:56] AlexPikalov commented on #37
BTW in case of TLS we'll need to provide SSL certificates for each node along with its address

[2017-02-02 12:58] AlexPikalov commented on #37
Yet another thing.
When server events handling will be implemented we will have an ability to perform load balancing more effectively because server will inform us when some node goes down.

[2017-02-02 14:07] harrydevnull commented on #37
1. I haven't come across a deployment where you have both TLS and Non-TLS nodes in same cluster
and client drivers (at least the ones i have come across)  go for all tls or none of nodes .
2.

yes we might need to revamp the api a little more like a say
[ClusterBuilder](http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/core/Cluster.Builder.html)
Java Driver and Python  drivers somew

[2017-02-02 14:10] harrydevnull commented on #46
@ernestas-poskus @AlexPikalov is anyone working on it?  if not I can take this up

[2017-02-02 16:48] AlexPikalov commented on #37
1. if it's so, it makes sense. I need to check if Cassandra actually prevents such kind of Clusters.
2. 👍

[2017-02-02 16:50] #46 closed

[2017-02-03 07:28] ernestas-poskus opened #48 "Reduce .clone()"
Improve performance by reducing unnecessary .clone().

E.g.:

[code]

double allocation

[2017-02-03 07:34] ernestas-poskus opened #50 "Creation queries value binding API"
At the moment it is cumbersome to bind values to INSERT, UPDATE queries.

I suggest something similar to PostgreSQL crate: https://github.com/sfackler/rust-postgres.

[code]

[2017-02-03 07:45] AlexPikalov commented on #48
@ernestas-poskus
Yes, absolutely agree. There maybe plenty of unnecessary clones in the code, so we need to look after them.

[2017-02-03 07:47] AlexPikalov commented on #50
Definitely, this improvement can significantly simplify application development.

[2017-02-03 15:17] harrydevnull opened #51 "Question /Help"
I had been trying to revamp api  using cassandra name as option but i was not able to get it to working.
it is because of the move
[code]

i have uploaded the code in my fork

https://github.com/harrydevnull/cdrs/pull/6

would you know what to do to get around it ?

[2017-02-03 15:47] AlexPikalov commented on #51
@harrydevnull
In general I like this idea.

At the moment I'm not able to make sure that it will work, but you can try either

[code]

or using `match` as you're doing actually

[code]

[2017-02-03 15:49] harrydevnull commented on #51
Some(ref auth) => {...},
    None => {...}

i did try the second option it gave me another error
[code]

[2017-02-03 15:55] AlexPikalov commented on #51
In this case some reference `&` is missing when you're comparing. May be `f authenticator.as_str() == &auth` could help

[2017-02-03 15:57] harrydevnull commented on #51
did actually try that as well ```f authenticator.as_str() == *auth``` but it is back to where i began

[code]

[2017-02-03 16:33] AlexPikalov commented on #51
https://play.rust-lang.org/?gist=5186e1c51c0a349ef00b35178254523f&version=stable&backtrace=0

This pretty much illustrates your issue

[2017-02-04 04:28] harrydevnull opened #52 "it seems SSL stuff is not working anymore"
it seems after SSL stuff is not compiling at all

[2017-02-04 06:41] harrydevnull opened #57 "cargo clippy warnings"
when we run cargo clippy it will spill out a lot of warnings. we might want to tackle that as we code

[2017-02-04 09:16] AlexPikalov commented on #57
Makes sense

[2017-02-04 09:20] AlexPikalov commented on #52
I saw you're saying that #58 fixes this issue. What was an issue?

[2017-02-04 09:21] AlexPikalov commented on #51
It seems that it was solved.

[2017-02-04 09:21] #51 closed

[2017-02-04 09:35] AlexPikalov commented on #52
I see Debug is not derived.

[2017-02-04 09:46] AlexPikalov commented on #52
I see. Debug could not be derived automatically. Good catch, thank you.

[2017-02-04 09:46] AlexPikalov commented on #52
I've checked. Now it works.

[2017-02-04 09:46] #52 closed

[2017-02-04 15:38] #40 closed

[2017-02-04 17:36] harrydevnull commented on #20
What happened to this issue?

[2017-02-04 17:40] harrydevnull commented on #45
We might want to revisit unreachables!() . That macro results in thread panicking. I have stumbled upon panicking at least thrice. So as a better practice it would be better to return errror::Error

[2017-02-04 17:42] harrydevnull commented on #57
@alex are planning to work on this if no I ll try to get it done. It would effect all the source files.

[2017-02-05 15:33] AlexPikalov commented on #57
I think it fixed in #62, isn't it?

[2017-02-05 16:03] harrydevnull commented on #57
I just started I might have completed just 10%

On Sun, Feb 5, 2017 at 10:33 AM Alex Pikalov <notifications@github.com>
wrote:

[2017-02-05 16:03] harrydevnull commented on #57
I just started I might completed 10%

[2017-02-05 16:09] AlexPikalov commented on #57
I see.

[2017-02-05 16:23] AlexPikalov commented on #57
Why wouldn't we create `clippy.toml` to use consistent rules? https://github.com/Manishearth/rust-clippy#configuration

[2017-02-05 16:33] AlexPikalov opened #63 "Adapt examples to ssl feature"
Reported in #61

was provided via the transport_ssl module.
However, the examples were not prepared for this,
and cargo test --all-features would fail.

seems reasonable to just use the same module name
and make life easier for clients.

- [x] fix existing examples
- [x] add examples which would use ssl

[2017-02-05 17:05] #9 closed

[2017-02-05 19:35] AlexPikalov commented on #45
@harrydevnull I agree that this approach should be revisited. They were used in those places which, as I assumed, won't be reached due to protocol specification. For instance, Version can be either `0x04` or `0x84`. Most probably in some cases this assumption was wrong.

I'll create a super-task to create tests for each module. There we could track progress.

[2017-02-05 20:23] AlexPikalov opened #66 "Travis CI. Enable test execution with ssl feature"
Add a separate script which would run tests with ssl feature. Similar to `cargo test --features ssl`.

[2017-02-06 01:57] harrydevnull commented on #57
the problem with that approach is that authors of clippy would be constantly updating the rules. the clippy.toml which we have in our src tree would be outdated or else we need to take pains of manually updating it. hence my take no clippy.toml on our src tree and perhaps run  cargo clippy as part of travis build.

[2017-02-06 02:05] harrydevnull commented on #63
@AlexPikalov : earlier pr on examples is less ergonomic. as in why should a client bother to put config(not ssl)  for those who does n't have ssl setup. cassandra deployments mostly would run non-ssl (due to perf reasons) but because of org-wide  reasons (security) they might end up using ssl.

so in a nutshell what I was try to convey was the earlier examples were good !!! we have to find another

[2017-02-06 07:21] Keats opened #67 "Create connection from a string"
As mentioned on Reddit, I'm planning to add support for migrations for Cassandra in https://github.com/Keats/dbmigrate

Would it be possible to add a method to cdrs to get a connection from a string like `cassandra://username:password@host:port/keyspace`?

[2017-02-06 08:51] AlexPikalov commented on #67
@Keats It seems it makes sense to provide an option as a method of CDRS non-ssl mode. Obviously it should use password authenticator.

So, it might look like:
[code]

There is one think here I don't understand at the moment it's how this keyspace will work. From one hand, to apply this space to each query by default we'll need to keep it somewhere inside CDRS. From other hand, it can be set from:

[2017-02-06 09:05] AlexPikalov opened #68 "Add tests for frame module."
This is a super-task (in meaning it contains a list of subtasks).

We need to add tests to each frame in `frame` module to make a process of parsing and serialization more mature.

- [ ]  events
- [ ] frame_auth_challenge
- [ ] frame_auth_response
- [ ] frame_auth_success
- [ ] frame_authenticate
- [ ] frame_batch
- [ ] frame_error
- [ ] frame_event
- [ ] frame_execute
- [ ] frame_options
- [ ] fr

[2017-02-06 09:06] AlexPikalov commented on #68
I'll check which of them already have unit tests.

[2017-02-06 11:19] ernestas-poskus commented on #67
It would be also cool if one could select keyspace in advance so it would not repeat in future queries.

[2017-02-06 12:04] AlexPikalov commented on #67
@ernestas-poskus It's already possible via set keyspace query.

[2017-02-06 12:23] AlexPikalov commented on #63
@harrydevnull : of course client should not put explicitly `#[cfg(not(feature="ssl"))]` into its real code if they don't need SSL. And, in fact, it's not needed.

At the moment for me it's hard to imagine how to implement it using enums. Could you please provide quick code snippet, so we could discuss?

[2017-02-06 12:29] AlexPikalov commented on #63
In examples, `#[cfg(not(feature="ssl"))]` and `#[cfg(feature="ssl")]` should be considered as branches which a developer should refer to find a solution if he develops with SSL disabled and enabled respectively.

[2017-02-06 12:55] AlexPikalov commented on #63
As an alternative modification, we could provide a single **trait** `Transport`, which CDRS would receive, from one hand. That could be an interface common to both TCP and TLS. After that we could have one `NetTransport` which would have feature specific constructor and `Read+Write` implementation.

So in a code, developer would has

[code]

[2017-02-06 13:03] harrydevnull commented on #63
Yes that's what I have been trying to get at...
But I ran into couple of issues... I ll try to push to a branch so that you
can take a look...

On Mon, Feb 6, 2017 at 7:55 AM Alex Pikalov <notifications@github.com>
wrote:

[2017-02-06 13:09] AlexPikalov commented on #63
@harrydevnull sure, go ahead. I'll take a look

[2017-02-06 17:51] AlexPikalov commented on #63
@harrydevnull let me work on this change along with updating examples.

[2017-02-06 17:52] harrydevnull commented on #63
sure !! go ahead

On Mon, Feb 6, 2017 at 12:51 PM, Alex Pikalov <notifications@github.com>
wrote:

[2017-02-06 19:30] harrydevnull commented on #63
@AlexPikalov : i have been trying out options I have pushed my code base to github
https://github.com/harrydevnull/cdrs/tree/some

[2017-02-06 20:29] AlexPikalov commented on #63
@harrydevnull Awesome! After some minor formatting we could merge it. Just few hints:

1. https://github.com/harrydevnull/cdrs/blob/some/src/transport.rs#L20

[code]
2. https://github.com/harrydevnull/cdrs/blob/some/src/transport.rs#L43
[code]
3 https://github.com/harrydevnull/cdrs/blob/some/src/transport.rs#L14 would be better to put after `Transport` [declaration](https://github.com/harrydevnull

[2017-02-06 20:35] harrydevnull commented on #63
Nah it is not compiling yet 😩

On Mon, Feb 6, 2017 at 3:29 PM Alex Pikalov <notifications@github.com>
wrote:

[2017-02-06 21:42] AlexPikalov commented on #63
I can take a look tomorrow.

[2017-02-07 19:15] harrydevnull commented on #20
@AlexPikalov : you can close this issue right?

[2017-02-08 15:34] AlexPikalov opened #74 "Define cargo fmt code style"
As we're going to actively use `cargo fmt` to keep code consistent, I think, it makes sense to define the rules in `.rustfmt.toml` (which we have also create).

[2017-02-08 15:59] #74 closed

[2017-02-08 20:41] harrydevnull commented on #68
@AlexPikalov : i came across a testing framework called Stainless
https://github.com/reem/stainless

this seemed a natural way of testing what are you thoughts?

[2017-02-09 05:27] harrydevnull opened #76 "prepared statment doesn't pass query parameter"
I have been trying to get the prepared statement to work but it is not .

CQL  query
------------
``` Insert into user_keyspace.users            (user_name ,password,gender,session_token, state,birth_year)    values  (?         ,  ?     ,     ?,            ?,     ?,  ?)```

Error
-------
```CDRSError { error_code: 8704, message: CString { string: "there were 6 markers(?) in CQL but 0 bound variabl

[2017-02-09 07:20] AlexPikalov commented on #68
@harrydevnull It makes sense for me to use this framework

[2017-02-09 19:31] AlexPikalov commented on #76
@harrydevnull I found a root cause. It's a serialization defect. I'll try to push the fix today.

[2017-02-09 19:32] harrydevnull commented on #76
cool thank you

[2017-02-09 19:48] #76 closed

[2017-02-09 19:49] AlexPikalov commented on #76
@harrydevnull Now you can try with latest master.

[2017-02-10 07:43] AlexPikalov commented on #50
At the moment, value binding is possible via prepare/execute functions. [Example](https://github.com/AlexPikalov/cdrs/blob/master/tests/create_insert_table.rs#L125).

[2017-02-10 07:43] #50 closed

[2017-02-10 07:43] AlexPikalov commented on #20
@harrydevnull yes, seems to be fixed

[2017-02-10 07:43] #20 closed

[2017-02-10 18:35] harrydevnull commented on #63
@AlexPikalov : you can close down this issue right?

[2017-02-10 19:16] AlexPikalov commented on #63
@harrydevnull right. Closing.

[2017-02-10 19:17] #63 closed

[2017-02-10 19:31] AlexPikalov opened #81 "Add Into<Value> implementations"
We're going to have a list of `impl Into<Value> for X` implementations for all of Rust [primitive types](https://doc.rust-lang.org/std/#primitives) and their vectors.

As an example, please refer to [this](https://github.com/AlexPikalov/cdrs/blob/master/src/types/value.rs#L30) code.

[2017-02-11 01:55] grossws opened #84 "Consider dual-licensing (MIT or Apache)"
A lot of projects in Rust ecosystem use dual-licensing allowing downstream user to choose between MIT or Apache license which simplifies library use both for projects under GPLv2 (Apache License v2 is incompatible with it, so MIT is good choise) and others who wouldn't be forced to keep a copy of your full license in NOTICE file and could just put attribution there.

[2017-02-12 13:26] AlexPikalov commented on #48
Using of clones was significantly reduced. Will create some metrics of memory usage.

[2017-02-12 21:28] #48 closed

[2017-02-13 10:49] AlexPikalov opened #89 "Create a mapping table between Rust and Cassandra types"
It would be good to provide a table for Rust and Cassandra corresponded types.

[2017-02-16 22:30] #81 closed

[2017-02-16 22:33] AlexPikalov commented on #84
@grossws
I'm not very good in all this stuff. To be able to proceed with dual licensing would it be enough if each of dependencies has either MIT or Apache license?

[2017-02-17 00:37] tupshin commented on #84
You are really only asserting what license your own project's code is. And yes, it is quite reasonable for you to dual license yours as Apache/MIT even if some of your dependencies are only one or the other. I would recommend going this route.

[2017-02-17 01:18] grossws commented on #84
All your deps seems to be compatible with both MIT and Apache License v2.0 (e.g. no GPL/AGPL, CC SA nor NC variants etc):
- byteorder - Unlicense/MIT
- log, uuid - MIT/Apache
- snap - 3-BSD
- lz4-compress - MIT
- r2d2 - MIT/Apache
- openssl use its own license which is Apache-like one

To relicense you should get permission from all major contributors (e.g. if only contribution is something trivia

[2017-02-17 07:22] AlexPikalov commented on #84
Thank you, guys, for your explanations.

@harrydevnull please let me know if you have any objections.
Thank you.

[2017-02-17 14:07] AlexPikalov opened #92 "Fix readme Compression section."
This section misleads some developers who start using CDRS. We need to make it more similar to a [code from examples](https://github.com/AlexPikalov/cdrs/blob/master/examples/all.rs#L56)

[2017-02-17 21:46] #89 closed

[2017-02-18 08:59] AlexPikalov opened #94 "Simplify process of Cassandra list to Vec convertation"
At the moment a process of conversion from Cassandra `list` to Rust `Vec<T>` look a bit complicated comparing to conversion of primitive type. A developer has to perform it in two steps: 1.) convert bytes into CDRS `List` and then convert `List` into Rust `Vec<T>`. The same situation for Cassandra set and map.

The goal is to eliminate this intermediate step and to enable a direct conversion from

[2017-02-21 12:35] Keats commented on #67
Any update on that? I don't know about the keyspace itself as I've never used Cassandra myself, it seems similar to a schema in SQL databases?
I was just looking at https://github.com/mattes/migrate/tree/master/driver/cassandra as a reference, maybe the Golang driver can be used to see how they implement it?

[2017-02-22 20:24] AlexPikalov opened #97 "Fix parsing a body which contains null and not-set values"
Found in #96

Description: when body contains null or not-set values `.get_body()` runs out of memory.

Root cause: issue with parsing negative integers

[2017-02-22 20:52] #97 closed

[2017-02-23 21:13] AlexPikalov commented on #84
I suppose you don't mind

[2017-02-23 21:19] harrydevnull commented on #84
You are the boss ☺️
On Thu, Feb 23, 2017 at 4:13 PM Alex Pikalov <notifications@github.com>
wrote:

[2017-02-23 21:20] harrydevnull commented on #84
For the record !  I don't have any objections .

On Thu, Feb 23, 2017 at 4:18 PM harry nair <hareendran.c.nair@gmail.com>
wrote:

[2017-02-23 21:27] #84 closed

[2017-02-24 22:27] AlexPikalov commented on #84
@harrydevnull thank you! 😄

[2017-02-26 14:00] tupshin opened #100 "CDRS should implement eq"
In looking into the possibility of creating a cdrs backend for diesel, I realized that it would be much easier to embed cdrs in other things if it implements eq.

[2017-02-26 15:51] #100 closed

[2017-02-26 15:59] harrydevnull commented on #67
@Keats : `cassandra://username:password@host:port` assumes that we have only one host; cassandra in production would have an array of hosts. It is a ring topology. At any point in time a node can die or a node would be added into the cluster. the client would ( not supported by cdrs currently)  poll the cluster periodically to see which nodes are up/down and add/remove nodes ip from it's memory !!

[2017-02-27 04:39] Keats commented on #67
I see, and I guess you will need to have the cluster to agree on a schema (I guess?) so you probably need to have special handling to wait till the that happens before running the next one (in my case of a cli to run schema migration). Thanks for the explanation

[2017-02-27 13:57] harrydevnull opened #102 "cdrs should accept an array of hosts"
right now the driver takes only a single node address as the input; in reality we should accept an array of hosts.
[code]
to be replaced with

[code]

[2017-02-27 14:34] AlexPikalov commented on #102
I guess it should be a part of load-balancing feature #37

[2017-02-27 14:46] harrydevnull commented on #102
:thumbsup:

[2017-02-27 14:46] #102 closed

[2017-02-27 14:48] harrydevnull commented on #37
Closing issue #102 and updating this ticket as it is closely related
right now the driver takes only a single node address as the input; in reality we should accept an array of hosts.
[code]
to be replaced with

[code]

[2017-02-27 16:19] harrydevnull commented on #67
yes precisely  !!!  providing an array of hosts (I deal with  cassandra cluster with 50 nodes) in a string seems to be less ergonomic.

Fun fact
-----------
on a side note every node knows about all other nodes; so mentioning a single node would be enough; to execute cql statements.  there I contradicted myself  !!!
Developers who wants to run application in production should not have a single nod

[2017-03-02 07:36] AlexPikalov opened #108 "Create more e2e tests"
Create more e2e tests based on [all](https://github.com/AlexPikalov/cdrs/blob/master/examples/all.rs) example

[2017-03-03 15:13] tupshin opened #110 "Diesel support"
Diesel is an increasingly popular native rust ORM, and I don't think anything on its design would preclude using most of its features with a nosql engine like cassandra.
Filing this as a placeholder, and to gauge interest. I hope to be able to work on this soon, and would love collaborators.

http://diesel.rs

[2017-03-03 16:00] AlexPikalov commented on #110
@tupshin good idea. Thank you

[2017-03-03 22:19] AlexPikalov opened #111 "Rework into Rust conversion"
Basing on discussion #109 and thread on [Reddit](https://redd.it/5xcj2e) we'd like to have `Result<Option<_>>` instead of current `Option<Result<_>>`.

[2017-03-04 18:26] #37 closed

[2017-03-04 18:33] harrydevnull opened #113 "ClusterManager adjusting the Up/Down nodes"
I know we just have got the cluster manager api up. the nodes can be brought up online or node can die. we can get those information via the server events. using the server event api we should dynamically add/remove the nodes from manager pool.

[2017-03-04 19:33] AlexPikalov commented on #113
Good idea. 👍

[2017-03-05 20:18] #92 closed

[2017-03-06 19:57] AlexPikalov commented on #108
I'll take it.

[2017-03-06 21:35] #108 closed

[2017-03-08 00:13] harrydevnull commented on #113
A related question what do you think of making a cluster builder struct that would abstract away creation of transporttcp ,Authetication and loadbalancing?

As in from API standpoint a client would have to give clusterbuilder.with_nodes(122333).port(9042).poolsize(5).....build() ?

[2017-03-08 21:14] AlexPikalov commented on #113
If we could find a way to go it would be awesome. I'm afraid that in case of creating TLS connection to a cluster it could be not so trivial to cover all existing options to configure SSL. However we could implement a POC for that and to see if it's flexible enough.

[2017-03-08 21:53] harrydevnull commented on #113
I too had the same thought let me give it a shot

On Wed, Mar 8, 2017 at 4:14 PM Alex Pikalov <notifications@github.com>
wrote:

[2017-03-09 17:55] AlexPikalov commented on #113
@harrydevnull sure, go ahead

[2017-03-18 10:59] sroebuck opened #121 "Please wait for schema agreement on table creation"
In a clustered cassandra environment I'm hitting occassional errors in code which creates a table and then immediately starts writing into it.  The errors appear in the cassandra log as `org.apache.cassandra.db.UnknownColumnFamilyException: Got slice command for nonexistent table my.test.  If the table was just created, this is likely due to the schema not being fully propagated.  Please wait for

[2017-03-19 11:50] AlexPikalov commented on #121
Seems to make sense to wait for related change event. I'll investigate this more closely.
Thank you.

[2017-03-22 12:14] harrydevnull opened #124 "should we use rust-tls instead of open-ssl"
I was thinking of adding windows compilation to cdrs 'appvoyer' but since we need open ssl we have to do customizations on top of base windows image. If instead of using open ssl crate; if we were to use rust tls which is wrapper for OpenSSL on Linux machines and wrapper for native tls implementations in windows and OS X environment it would be natively supported on all platforms. What do you thin

[2017-03-22 12:17] harrydevnull commented on #124
And adding on we might need to add examples on how use private key to do the authentication with the server. The example currently is only using cafile alone; which means we are speaking tls but not doing client authentication using certificates

[2017-03-22 19:58] AlexPikalov commented on #124
@harrydevnull Sounds reasonable. It would be great to have Rust native support of SSL as well.

[2017-03-24 07:24] AlexPikalov commented on #57
@harrydevnull are there any non-fixed clippy issues? For me it seems that everything is fine now.

[2017-03-24 16:30] harrydevnull commented on #57
[code]

[2017-03-24 21:32] AlexPikalov commented on #57
holly sht

[2017-03-31 13:04] kw217 opened #130 "Support futures"
Hi - are there any plans to integrate cdrs with futures and streams (https://crates.io/crates/futures)? At the moment it looks like query execution is blocking, and ties up both a thread and a TCP connection for the duration of the query (please correct me if I'm wrong). For high-performance, scalable applications it is desirable to support asynchronous operation, and futures seems to be a good wa

[2017-03-31 13:06] kw217 opened #131 "Token-aware routing"
Please could CDRS implement [token-aware routing](https://datastax.github.io/cpp-driver/topics/configuration/#token-aware-routing)? This is important for performance, because it reduces network hops and also reduces load on the Cassandra cluster.

(How difficult would this be to add?)

[2017-04-02 03:01] harrydevnull commented on #131
If I am not mistaken it would be fairly complex task.
the simplest algorithm which i can think of is
1. select * from system.peers;
2.cache the result
3. for the incoming query; based on the primary keys of that particular table; compute the murmur hash (assuming it murmur hash on the server side)
4. identify the host that from the system.peers result and route appropriately.

cc-ing @tupshin @Ale

[2017-04-04 18:55] AlexPikalov commented on #131
@harrydevnull @kw217 I apologise these days I have very limited access to internet. Next week I'll take a look on this closely.

[2017-04-06 05:51] AlexPikalov commented on #130
@kw217
sorry for the delay, there is a plan to make CDRS async and non-blocking of course. I think it makes sense to start this after we have a stable process of making requests and mapping results into Rust. I feel that at the moment we're pretty close to that, so maybe one of nearest versions will have async, non-blocking nature.

[2017-04-06 06:32] #45 closed

[2017-04-18 16:31] crazyjin opened #138 "Is it possible to support scylladb?"
Scylla db is a very attractive Apache Cassandra implementation. When I run example/simple to connect to my scylladb  I got the following error:
[code]
It looks like cdrs does not support scylladb right now. Is it possible to support scylladb which following the same specification as Cassandra?

[2017-04-18 21:10] AlexPikalov commented on #138
@crazyjin
As far as I can see, the main problem here is that Scylla relies on Native protocol v3 (http://docs.scylladb.com/cassandra-compatibility/) while CDRS at the current moment supports 4-th version only. I'd like to see CDRS to provide multiversion support. I think I could take a look on it in next few days.

[2017-04-24 11:31] #94 closed

[2017-04-25 19:29] #111 closed

[2017-04-26 05:53] AlexPikalov commented on #130
@kw217
I tend to think that it's a good idea to follow a way which let say [rust-postgres](https://github.com/sfackler/rust-postgres) goes - to have a standalone crate for a client based on Tokio or whatever else async io crate; and to keep a main crate as tiny as possible.

From my end, I work on such standalone version which wraps CDRS into Futures, but feel free to try to create your own becaus

[2017-04-26 05:53] #130 closed

[2017-05-08 02:47] ustime opened #142 "build failure with rust nightly"
error[E0281]: type mismatch: `fn(std::io::Error) -> compression::CompressionError {compression::CompressionError::Lz4}` implements the trait `std::ops::FnOnce<(std::io::Error,)>`, but the trait `std::ops::FnOnce<(lz4_compress::decompress::Error,)>` is required
   --> /root/.cargo/registry/src/github.com-1ecc6299db9ec823/cdrs-1.0.0-beta.9/src/compression.rs:178:38
    |
178 |         lz4::decompres

[2017-05-08 18:07] TrionProg commented on #142
I come here to write about this error. I have on
[code]
**Alles schlecht**

How to avoid this problem(urgently)?

[2017-05-08 18:34] TrionProg commented on #142
Ok. I found easy and stupid solution - just edited source. Of course I should forget about lz4 =) But I hurry.
[code]

Note, that user must write in Cargo.toml
[code]
otherwise cargo will download 0.7.0 that do not knows what is `transport::TransportTCP`.

[2017-05-11 09:10] BenjaminGill-Metaswitch commented on #142
I don't think it's a problem with nightly - I am also seeing it in stable. Rather, https://crates.io/crates/lz4-compress released a new version recently, and that seems to have broken things.

As a workaround, I think you can manually specify v0.1.0 of lz4-compress

[2017-05-11 11:21] AlexPikalov commented on #142
@BenjaminGill-Metaswitch actually lz4-compress version is fixed to 0.1.0. Please let me check it

[2017-05-11 11:22] AlexPikalov commented on #142
@TrionProg sorry for delay, I'll try to investigate this issue and come with something

[2017-05-11 11:26] BenjaminGill-Metaswitch commented on #142
@AlexPikalov - I think `lz4-compress = "0.1.0"` allows any of `0.1.0 <= v < 0.2.0`. To fix it to 0.1.0, I think you probably need `lz4-compress = "~0.1.0"`.

See http://doc.crates.io/specifying-dependencies.html

[2017-05-11 12:30] AlexPikalov commented on #142
@BenjaminGill-Metaswitch I've just checked cargo docs. Thats true that `0.1.0` allows all minor versions because it's supposed that minor version does not have breaking changes. Which is not the case for LZ4 `0.1.1`. The version with tilde won't work as well because of that. The working solution is `=0.1.0`. I've prepared related PR. Will let you know when new version of CDRS is released

[2017-05-11 13:45] AlexPikalov commented on #142
Fixed in 1.0.0-rc.1

[2017-05-11 13:45] #142 closed

[2017-05-13 11:23] AlexPikalov opened #144 "Add multi protocol versions support"
We'd like to provide support for multiple binary protocols in order to cover older as well as newer Apache Cassandra versions.

- [ ] [version 3](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v3.spec) is also used by ScyllaDB #138 (not implemented in CDRS)

- [x] [version 4](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec) is actually implemented in

[2017-05-15 10:16] AlexPikalov commented on #144
Version 3 - PR submitted #145

[2017-05-15 21:53] AlexPikalov opened #147 "Udate type mapping md"

[2017-05-16 06:15] AlexPikalov commented on #147
In accordance to multi version nature of CDRS

[2017-05-16 08:17] #147 closed

[2017-05-17 07:15] AlexPikalov opened #148 "Avoid potential index overflow"
During `RoundRobin` load balancing strategy there is a potential possibility that a [cursor index can go out of boundaries](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster.rs#L78) after big enough number of getting next node.

This mechanism should be replaced by the one which is secure from this point of view.

[2017-05-17 12:55] #148 closed

[2017-05-19 10:11] TrionProg opened #152 "How to insert uuid and time?"
Hello. I try
[code]

* But it sends 84 bytes instead 16
[code]

Error: `"Server error: CString { string: "UUID should be 16 or 0 bytes (84)" }"`

And where are problems with date.

* What will contain body then this function will be executed?
* Add this to examples! Seriously where are no examples with parameters for INSERT, `.execute` and `.query`

UPD. I found this way
[code]

I think, you shoul

[2017-05-19 11:44] AlexPikalov commented on #152
@TrionProg
In order to insert uuid you can directly convert it into `Value` as it's done in [examples](https://github.com/AlexPikalov/cdrs/blob/master/examples/all.rs#L863).

As for inserting date, date is a unisigned integer in fact (https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L850) and in current stage you have to convert your date into such integer and then into `

[2017-05-19 11:58] AlexPikalov opened #153 "Create date-to-value mapper"
I think it makes sense to create some helpers which would be able to convert a date into a proper `Value`. Generally, the approach is following `some_date` -> [`unisigned integer`](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L850) -> `Value`.

It's under discussion which crates we should provide helpers for, but for me it makes sense to provide that at least for [chr

[2017-05-19 12:52] AlexPikalov commented on #152
@TrionProg Completely agree with you. Data structures serialisation process is non ergonomic and needs improvements.

[2017-05-19 16:44] TrionProg commented on #152
I know, but this is very hard to get integer value from Data type. See how much dots and slow operation like signed_duration_since. I took this way from postgres serializatior and adapted it.
Currently I use 4 DBs and I found the most confortable postgresql
[code]

This query will be formatted to Vec<u8> directly. I think, you should make by this way.

And look on way tcp_connection -> session in

[2017-05-19 20:15] AlexPikalov commented on #152
1. As far as I know the way of composing queries you've provided is quite common. I know at least few crates leveraging this approach. So it might make sense to have the same functionality here.

2. I've got your point. It sounds reasonable, especially with your example.

3. I don't see any problems with that.

Thank you.

[2017-05-21 07:58] #152 closed

[2017-05-23 14:27] bfrog opened #156 "Get column value by position"
It would be convenient and potentially significantly faster in some scenarios to be able to get column values by position rather than name.

[2017-05-27 09:11] AlexPikalov commented on #156
@bfrog I'm investigating.

Thank you for your request

[2017-06-02 19:00] #156 closed

[2017-06-02 19:27] bfrog commented on #156
Thanks for fixing this!

[2017-06-04 21:45] #138 closed

[2017-06-23 21:33] bfrog opened #163 "Panic when shutting cassandra down"
Saw this today while restarting one of the two cassandra nodes I have CDRS cluster connected to.

```ERROR:cdrs::frame: Unexpected Cassandra version 0, either 4 or 132 is expected```

Not sure how it happened, but immediately after that the program panicked and quit.

[2017-06-24 08:14] AlexPikalov commented on #163
@bfrog

Which Cassandra version do you use in your cluster? Did you start session with any compression?

Thanks

[2017-06-24 16:26] bfrog commented on #163
3.0.9, no compression

On Jun 24, 2017 3:14 AM, "Alex Pikalov" <notifications@github.com> wrote:

[2017-06-24 20:39] AlexPikalov commented on #163
TLS or plain TCP connection?

[2017-06-25 04:45] bfrog commented on #163
Plain

On Jun 24, 2017 3:39 PM, "Alex Pikalov" <notifications@github.com> wrote:

[2017-06-25 12:02] AlexPikalov commented on #163
Thanks, will try with 3.0.9.

[2017-06-25 18:26] harrydevnull commented on #163
@bfrog  how many nodes were there to begin with and what was the replication factor ?

[2017-06-25 21:54] bfrog commented on #163
2 and 2, I restarted one and got that error.

On Sun, Jun 25, 2017 at 1:26 PM, harrydevnull <notifications@github.com>
wrote:

[2017-06-26 17:11] AlexPikalov commented on #163
Probably we need to revise a mechanism of node invalidation in [cluster](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster.rs#L131). Let me please take a look closer on the case you've described.

[2017-07-08 16:44] #163 closed

[2017-07-17 11:04] BenjaminGill-Metaswitch opened #165 "Update to snap 0.2"
We've been hit by https://github.com/BurntSushi/rust-snappy/issues/9, which causes nightly builds of cdrs to fail at the moment.

Updating to snap 0.2 should allow us to pick up the next release (0.2.2, probably), which should include the fix.

[2017-07-17 15:53] #165 closed

[2017-08-16 12:46] AlexPikalov opened #169 "Create explicit feature for ScyllaDB"
As we found that  CDRS with feature `v3` (3-rd version of Apache Cassandra binary protocol) works fine as a driver for ScyllaDB, it would make sense to create an explicit feature `scylla-db`.

As of now it should behavior as if CDRS has been imported with `v3` feature.

[2017-08-16 13:56] penberg commented on #169
@AlexPikalov ScyllaDB also support CQL v4. If you found something that's not working, we'd love to here about. From driver point of view, there should be no difference between Apache Cassandra and ScyllaDB -- if there is it's a bug that we'd like to fix.

[2017-08-16 17:00] AlexPikalov commented on #169
@penberg Ahh... Probably my knowledge about that is a bit outdated. Thank you for pointing on that 😃

[2017-08-16 17:03] AlexPikalov commented on #169
I'll try CDRS with v4 and ScyllaDB and if it would work we could close this issue. Especially if ScyllaDB follows Cassandra protocol without any exceptions.

[2017-08-17 05:14] penberg commented on #169
@AlexPikalov It does (except for bugs).

[2017-08-17 17:44] s3bk opened #171 "Crate version does not work with cargo."
"1.0.0-rc.3" does not appear to work correctly with cargo.
Thus one can't write

[code]

[2017-08-17 17:50] s3bk commented on #171
Looks like docs.rs is to blame for showing the latest (unstable) version?

[2017-08-17 17:50] #171 closed

[2017-08-21 20:28] AlexPikalov commented on #171
@s3bk
Sorry for late reply. Both docs.rs and crates.io have the same behavior.
version `1.0.0` was published, so I hope there won't be such confusion in future.

[2017-08-25 14:31] AlexPikalov opened #173 "Read from Transport though buffered readers"
In order to optimize quite expensive read operations.

[2017-08-27 06:24] #173 closed

[2017-08-27 13:13] dfaust opened #177 "Add changelog"
Now that cdrs has reached version 1.0 🎉, it would be great to have a changelog.

[2017-08-27 13:33] AlexPikalov commented on #177
Yes, this is a great idea. Until now we tracked changes (or at least tried doing that) in release comments, but changelog seems to be a common way to do it.

[2017-10-05 23:38] rrichardson opened #179 "Vec<u8> doesn't serialize properly"
You have to explicitly construct Bytes for it to work.
To make that work within data structures,  Bytes needs to be Clone.
I have made a PR for that here :
https://github.com/AlexPikalov/cdrs/pull/178

But we should figure out how to solve the broader problem that we need to treat Vec<u8> differently from Vec<T>

[2017-10-07 10:24] AlexPikalov commented on #179
Good catch! Currently I'm trying to fix Travis CI. Once it's done I'll merge your PR and we could close this issue.
Thanks, @rrichardson

[2017-10-08 08:16] AlexPikalov commented on #179
As a solution for differentiating blob from `Vec`, there is a PR with Blob type that has similar purposes as `Map`, `List`, `UDT`.

#181

[2017-10-08 10:29] #179 closed

[2017-10-08 18:35] #177 closed

[2017-10-18 13:04] zrkn opened #183 "ConnectionManager fails to reconnect after Cassandra restart"
To reproduce restart local server while running following program:
[code]

When creating new connection `ConnectionManager` clones transport. `TransportTcp` uses `peer_addr()` to determine server address. But underlying TCP socket fails `getpeername()` due to not being connected.

[2017-10-18 16:31] AlexPikalov commented on #183
@zrkn Thanks for reporting!

[2017-10-19 14:33] AlexPikalov opened #185 "Create IntoCDRSBytes trait, create a procedural macros for that"
* Create `IntoCDRSBytes` trait which would reuse `Into<Bytes> for T` implementations for "simple" types such as strings, numbesr, maps, vectors  etc.

* Signature of the trait:
[code]

* For UDT, create procedural macros, so developers would be able derive its implementation for structures like

[code]
* It should be created in a separate repo as a separate Cargo crate.

[2017-10-19 18:52] #183 closed

[2017-10-23 19:40] AlexPikalov commented on #185
Here is an example of how it would work https://github.com/AlexPikalov/into-cdrs-bytes-derive/tree/master/example

As of now I'm working on publishing this crate.

[2017-10-25 06:25] #185 closed

[2017-11-25 18:08] AlexPikalov opened #189 "[v2.0.0] Query exec API"
There are some thought about how could Query Execution API could look like in version 2 of CDRS. Any discussion and proposals are very welcome.

According to Cassandra binary protocol specification and existing CDRS types system each query has to have such fields that basically could be represented by following struct:

[code]

Where `query` string could be of two types:

1. `INSERT INTO namespace

[2017-12-11 18:58] nerdrew commented on #189
Small Question: can the new API use slices instead of Vecs for values?

[2017-12-11 22:21] dfaust opened #190 "Panic when selecting an altered UDT"
After adding new fields to a UDT I cannot select the records anymore. I get panics like

`thread 'main' panicked at 'index 108 out of range for slice of length 8'`

In this case I'm trying to read a newly added timestamp (8 bytes) from a UDT. There is one field preceding the timesamp with a size of 108 bytes.

I noticed this only happening when the UDT is inside a map.

And I wrote a test to debug

[2017-12-12 11:23] AlexPikalov commented on #190
@dfaust Thanks for reporting the issue. Your PR with steps for reproduction is very helpful.
Will try to make him passing ASAP.

[2017-12-12 21:43] AlexPikalov commented on #190
@dfaust Here are my quick observations.

I've logged what do we get from
[code]

Here's an output:
[code]

As you can see data has two values only:
* array of a single byte 49 which is `1` a key in a map
* `[0, 0, 0, 7, 109, 121, 95, 116, 101, 120, 116]` represents 'my_text' string (with length 7 and following 7 bytes)

Also I've checked non-parsed body - there is no bytes we potentially might mis

[2017-12-12 21:50] AlexPikalov commented on #190
Also I didn't have problems with inserting and querying a map with udts that have string and timestamp fields right away (without type update).

[2017-12-12 21:57] dfaust commented on #190
Thank you @AlexPikalov for looking into this so quickly.
I don't have the necessary knowledge to be sure what's happening. But it would make sense for C* to always append new fields to the UDT definition (deleting and moving aren't possible, only adding and renaming), while the data stays untouched. During the query C* could append null values for the missing fields or just send the raw data. It s

[2017-12-12 22:03] dfaust commented on #190
This might also be true for table changes, although there seem to be some differences: https://cassandra.apache.org/doc/latest/cql/ddl.html#alter-table

[2017-12-13 08:49] AlexPikalov commented on #190
@dfaust Thanks. For sure I need to continue investigation what is going on with altering schemas and types.

[2017-12-28 13:06] AlexPikalov commented on #190
UPD. Fix for this particular issue is merged into master. As for current moment, I'm working on tests for other altering scenarios such as altering table schema.

[2017-12-28 17:51] AlexPikalov commented on #189
@nerdrew Sorry for a late replay and thank you for your thoughts on this topic.

Yes, using slices also would be possible if we would use `IntoIterator` as an argument type. It's a good idea actually. Both slice and vector has its implementation, so it seems to be a good solution for this.

[2018-01-03 22:02] AlexPikalov commented on #189
UPD. Version 2 development status
- [x] connection to cluster
- [x] password and none authenticator
- [x] lz4, snappy compression
- [x] cluster query, exec, prepare extended API
- [x] handy paged request API
- [x] `query_values!` macros that allows to easily convert rust values into cassandra values with (for prepared query execution) and without names

Not re-implemented:
- [ ] SSL-encrypted sess

[2018-01-07 15:35] maklemenz opened #195 "Example for batches with parameters needed"
The [current example for batches](https://github.com/AlexPikalov/cdrs/blob/master/examples/batch_queries.rs#L39) does not show how values are passed to batch queries:
[code]

That would be useful because the way how values are passed to non batched queries does not work for them:
[code]

[2018-01-08 06:43] AlexPikalov commented on #195
Hello @maklemenz
I agree this part is missed. I'll try to add such example for 1.x.x version ASAP. Meanwhile you can check out how process of passing values will look like in version 2.0.0 that I'm working on. https://github.com/AlexPikalov/cdrs/blob/v2.0.0/examples/version_2.rs#L55 I plan to implement something similar for query batching as well

[2018-01-28 13:35] AlexPikalov opened #198 "Travis CI: fails on running e2e tests"
Travis CI fails on running e2e tests despite locally tests work fine.
Simple re-run a job which was "green" makes it "red".

Log investigation shows that it may be Cassandra run by Travis issue:

[code]

[2018-01-28 14:31] AlexPikalov commented on #198
Related to http://mail-archives.apache.org/mod_mbox/cassandra-user/201801.mbox/%3CCABinuxcubqObxT4DWOA9ga=xT6jFy+LWod73LPM5=Sup6o+Bkw@mail.gmail.com%3E

Affects: #196, #199

[2018-01-28 18:30] AlexPikalov commented on #198
Blocked by https://issues.apache.org/jira/browse/CASSANDRA-14173

[2018-01-29 20:00] bfrog opened #201 "[v2.0.0] Session externally non-mutable"
Currently when using Session it cannot be shared among types. I've historically organized my database functions into DAO classes that provide additional functionality as needed.

As an example...

[code]

Notably passing &sess isn't possible in the above example in 1.x as sess needs to be mutable. By instead changing sess to only be internally mutable using Cell/RefCell would allow external users

[2018-01-29 20:14] AlexPikalov commented on #201
@bfrog I see what you mean. I'll try to play around session in v2 and will let you know about my results.

[2018-01-29 20:59] bfrog commented on #201
I'd gladly create a PR for this, and its not exactly a breaking change though it will probably give a bunch of warnings about mut not being needed anymore

[2018-01-30 06:16] AlexPikalov commented on #201
Sure, feel free to submit a PR.

[2018-02-01 11:19] AlexPikalov commented on #198
E2E tests are disabled on travis CI as of now

[2018-02-03 11:05] AlexPikalov commented on #198
UPD: Cassandra 3.11.2 should have the fix. According to [comments](https://issues.apache.org/jira/browse/CASSANDRA-14173?focusedCommentId=16349998&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16349998) the patch will be released soon.

[2018-02-26 20:01] AlexPikalov commented on #198
Seems Cassandra 3.11.2 (which is compatible with latest JAVA) was released so I hope to return back e2e to our CI very soon

[2018-02-26 21:16] #198 closed

[2018-02-27 08:00] #190 closed

[2018-03-31 13:11] AlexPikalov commented on #195
As for upcoming version 2, example for batches with parameters could be found [here](https://github.com/AlexPikalov/cdrs/blob/v2.0.0/examples/prepare_batch_execute.rs#L75).

[2018-03-31 13:11] #189 closed

[2018-04-30 15:17] tinrab opened #206 "Trait IntoRustByName<Uuid> not implemented for Row"
I'm trying to select an UUID field as shown in this [example](https://github.com/AlexPikalov/cdrs/blob/master/examples/all.rs#L876), using the same crate version for **uuid**:

[code]

But I get this error:

[code]

My toolchain:

[code]

[2018-05-01 09:18] AlexPikalov commented on #206
@tinrab
I think you may need to change:

[code]
to
[code]
But to make sure could you please past a your "imports"?

BTW: does simple `cargo run --example all` work on your configuration?

[2018-05-01 09:40] AlexPikalov commented on #206
I was able to reproduce it locally. Investigating.

Thanks for reporting

[2018-05-01 09:55] AlexPikalov commented on #206
@tinrab Despite CDRS declares UUID `0.6.1` in `Cargo.toml` as a dependency crate itself requires `^0.5.1` version of UUID (see Dependencies section in https://crates.io/crates/cdrs/1.2.2), so as a quick fix I suggest to put `uuid = "0.5"` into your crate `Cargo.toml`.

And I'll try to provide a fix ASAP.

[2018-05-01 15:42] AlexPikalov commented on #206
@tinrab Fix has been published. Please update your CDRS dependency to `cdrs="1.2.3"` and use UUID version that CDRS is depended upon (`0.6.3`)

Please feel free to create an issues if the problem persists

[2018-05-01 15:42] #206 closed

[2018-05-15 19:32] athre0z opened #210 "Protocol parsing issues on many inserts"
Given the schema
[code]

running the latest Cassandra version from Docker on macOS HS
[code]

[code]

executing the code
[code]

crashes the library after 15123 inserts, either entering unreachable code

[code]

or reporting an unexpected Cassandra version
[code]

Looks like the parser is getting confused, reading from a wrong offset. I attached a Cargo module / project (what do you even call them

[2018-05-15 19:45] athre0z commented on #210
The issue also persists with `v2.0.0`, with a slightly different error:
[code]

[code]

[2018-05-16 22:12] AlexPikalov commented on #210
@athre0z Thank you for reporting this issue. I'm investigating it currently.

[2018-05-17 17:33] AlexPikalov commented on #210
@athre0z Unfortunately I was able to reproduce it so far after 5 times running the code.
Last time the fix for very similar issue was to substitute `read` by `read_exact` in [parser.rs](https://github.com/AlexPikalov/cdrs/blob/master/src/frame/parser.rs).

Would you be able to check possible solution by replacing following code in `parser.rs`

[code]

by the possible fix

[code]

and use your loca

[2018-05-17 18:56] AlexPikalov commented on #210
Even though the cursor is based on already filled buffer for me it makes sense to substitute that on as well. So, yes you can go ahead with this one as well

[2018-06-10 13:46] #195 closed

[2018-07-15 10:20] ernestas-poskus opened #213 "Marshalling error 8704 (scylla)"
@AlexPikalov

Related: https://github.com/AlexPikalov/cdrs/issues/169

I have encountered marshalling error. I have looked up 8704 Cassandra error but no luck here, nevertheless I have found the issue problem is with i64 `s_id` 64bit int, problem is fixed if converted to 32bit..

[code]

[code]

[code]

[code]

[2018-07-18 18:39] pimeys opened #214 "Session mutability"
Hi,

I'm holding an instance of cdrs accessible from multiple threads and I can't really wrap my head around how to share it and still be able to use `Session`. Almost all methods in `Session` require a mutable reference, which I definitely will not have in my case.

I'm currently evaluating the 2.0 pre versions and this is a blocking issue for me to move forward. Is there some way to get a mutabl

[2018-07-19 10:23] AlexPikalov commented on #214
@pimeys Thank you for reporting the issue.

I'll try to find out a solution similar to #201 Will keep you updated in this thread.

[2018-07-25 17:41] AlexPikalov opened #215 "Fix SSL session initialisation for cluster"
Currently [`Session::new_ssl`](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/session.rs#L263) takes single `SslConnector` while each node needs to have its own connector. Instead all SSL-encrypted must take a vector of `SslConnectors` one per node address

[2018-07-25 18:11] AlexPikalov commented on #214
@pimeys I was thinking about your case. With my current understanding of your situation [`r2d2::Pool`](https://docs.rs/r2d2/0.8.2/r2d2/struct.Pool.html) may help. This might be a pool of `cdrs::Session`. And usage could be the same as for [Postges](https://github.com/sfackler/r2d2-postgres). What you'd need to do is just to implement [`r2d2::ManageConnection`](https://docs.rs/r2d2/0.8.2/r2d2/trait

[2018-07-29 15:07] ernestas-poskus commented on #214
[code]

this is an actual production example how to use r2d2 pool of connections, to acquire connection just call

[code]

[2018-07-29 20:53] AlexPikalov commented on #214
@pimeys pimeys

For version 1 it looks pretty straight forward to deal with. As @ernestas-poskus  mentioned cdrs Connection Manager could be leveraged.

However with version 2 API it's not that obvious because session is built around cluster of nodes + load balancing. In this case for me it makes sense to talk about pools of connection to each of nodes in a cluster. In other case (pool of sessions

[2018-07-31 10:02] AlexPikalov opened #217 "Switch to async API"
The idea is to switch from sync API to async one. This is near to must have because Cassandra DB is used for managing big amounts of data. It means that a driver should be concurrent friendly to effectively parallelise IO operations.

Seems there is a difficulty to leverage a pool of sync "connections" in v2 design (and in cluster based API generally) because it only makes sense to have a pool of

[2018-08-09 09:48] maheshjena1 opened #218 "How to run the examples?"
Hi,
I am a newbie for the rust. Can you please help me with how to run the example and test it?
Currently I am getting following error with "rustc":

$ rustc examples/prepare_batch_execute.rs
error[E0463]: can't find crate for `cdrs`
 --> examples/prepare_batch_execute.rs:2:1
  |
2 | extern crate cdrs;
  | ^^^^^^^^^^^^^^^^^^ can't find crate

error: aborting due to previous error

For more informa

[2018-08-09 10:12] maheshjena1 commented on #218
I found way to add the external library using -L option, but still there is compilation issue:

$ cargo build
   Compiling version_check v0.1.4
   Compiling antidote v1.0.0
   Compiling cfg-if v0.1.4
   Compiling byteorder v0.5.3
   Compiling libc v0.2.43
   Compiling byteorder v1.2.4
   Compiling log v0.4.3
   Compiling uuid v0.6.5
   Compiling scheduled-thread-pool v0.2.0
   Compiling lz4-compre

[2018-08-09 13:49] AlexPikalov commented on #218
@maheshjena1
Try `cargo run --example example_file_name`. For instance, `cargo run --example crud_operations` to run https://github.com/AlexPikalov/cdrs/blob/master/examples/crud_operations.rs

Feel free to re-open this issues if you're still facing this issue.

[2018-08-09 13:49] #218 closed

[2018-08-10 10:18] maheshjena1 commented on #218
thank you Alex, it indeed solved my issues.

[2018-08-20 07:56] AlexPikalov commented on #217
As an update:
Currently I work on following approach (as a POC):

* session exists as an `Arc` and new reference could be obtained each time we make a request inside a separate thread

* during `session.query(...)` load balancer picks up a node where a request frame will be sent and then `CDRSTransport` will be returned from a node connections pool (this is a first change in the architecture - `r2

[2018-09-09 15:15] jgrimes opened #219 "Connection pooling with v2.0.0?"
It seems like the `ConnectionManager` that could be used with `r2d2` was removed with v2.0.0 -- what are people currently doing for connection pooling?

I saw that in this issue https://github.com/AlexPikalov/cdrs/issues/217 that one of the problems with combining round-robin load balancing and a connection pool in the "naive" way is that the first node in the list will basically have _n_ connecti

[2018-09-10 14:59] AlexPikalov commented on #219
Actually, v2.0.0 is still under development. #217 is a work in progress.

It's difficult to say without real measurement how much such implementation will impact this first node, but for me it seems that it will. I'd like to have connection polling per node but not session polling. Otherwise round robin behaviour will be pretty confusing, won't it?

[2018-09-11 02:54] kadfak opened #220 "latest uuid v0.7 conflict"
I was using the latest uuid crate version (0.7) that appears to conflict with the version (0.6.5) CDRS uses.

I got an error while converting an `Uuid` into `Bytes`:
[code]

Using the same version as CDRS resolved the issue for me.

[2018-09-13 20:51] AlexPikalov commented on #220
Yeah, conversion from `Uuid` into `Bytes` is possible because `From` is implemented for a certain UUID version.

[2018-09-13 20:51] #220 closed

[2018-09-14 19:29] AlexPikalov commented on #217
**Status update.**

All work is on my local branch so far.

Completed:

- ClusterConfig draft created;
- load balancer is reworked accordingly to the design previously described;

Remaining work:

- adjust executor traits (`BatchExecutor`, `ExecExecutor`, `PrepareExecutor`, `QueryExecutor`) that have dependencies from plain transport load balancer

[2018-09-14 19:44] AlexPikalov opened #221 "Continuous delivery and automated release process"
This is an enhancement related to CI pipeline. The aim is to automatize release process.

(done?)
As a developer
When my changes are pushed to a feature branch (PR branch)
I want to have my changes checked via e2e test

As a developer
When I commit a fix/new feature/breaking API change
I want to be able to put some marker to my commit message
So it will be then parsed by release script
And proper

[2018-10-02 19:38] #219 closed

[2018-10-02 19:38] #215 closed

[2018-10-02 19:38] #217 closed

[2018-10-02 19:38] #214 closed

[2018-10-29 08:53] rsb007 opened #227 "Is there any function in cdrs other than try_from_row() to get data from row"

[2018-10-30 13:59] AlexPikalov commented on #227
Hi,

There are few old fashion functions of `Row` that get field separate values from a row

https://docs.rs/cdrs/2.0.0-beta.3/cdrs/types/rows/struct.Row.html

[code]
Please check their usage in version 1 examples. For instance https://github.com/AlexPikalov/cdrs/blob/v.1.x/examples/all.rs#L379. This old API should also work in version 2

Please, let me know if it helps

[2018-10-31 14:43] #227 closed

[2018-10-31 18:24] AlexPikalov opened #229 "Rid of frame exchange logic duplication"
The expected outcome of this feature is reducing of frame exchange logic duplication. This logic is common and is just duplicated in following trait methods:

* `QueryExecutor:: query_with_params_tw`,
* `PrepareExecutor::prepare_tw`,
* `BatchExecutor:: batch_with_params_tw`
* `ExecExecutor::exec_with_params_tw`

The logic itself:

[code]

It should be extracted in some reusable form such as trait

[2018-11-26 17:04] apezel opened #230 "Unable to get transport in multi threaded application"
Hi, thank you for your great work on CDRS, it's amazing.
I'm encountering some problem with the latest beta in a multi threaded application :
[code]

I'm using lazy_static to share the connection between threads :
[code]

inside the thread :
[code]

The problem occurs specially if i'm running large batch inserts in parallel.

Am i doing something wrong or is it a bug with CDRS ?

[2018-11-27 23:13] AlexPikalov commented on #230
The way you use it seems to be okay for me. Probably existing solution with `try_lock` misses some retry logic. Your proposal #231 seems to be completely valid solution, but I just want to ensure it doesn't lead to unexpected panics.

[2018-11-29 07:42] #230 closed

[2018-11-29 15:50] AlexPikalov commented on #230
Thank you for creating the issue and providing a solution

[2018-12-12 10:18] swizard0 opened #234 "'static lifetime for Session constructors"
Hello, Alex!

As far I understand it the only way to create `Session` object is the constructors defined in [session.rs](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/session.rs) file: `new`, `new_snappy`, etc.

The problem is that they all requires `ClusterTcpConfig<'static, A>` parameter, which means I can have only `&'static str` nodes addresses in `NodeTcpConfig`. Is there a way

[2018-12-13 21:07] AlexPikalov commented on #234
Hi @swizard0,

Thank you for your question.

I believe there is a way. I've played a bit with [crud_operations.rs](https://github.com/AlexPikalov/cdrs/blob/master/examples/crud_operations.rs). I've created a simplified config file `test.conf` with following content:

[code]

And here is how I modified the code:

[code]

Please let me know if it helps in your case.

[2018-12-14 08:17] swizard0 commented on #234
Indeed it does work, but that actually means that one should recompile the whole project after editing configuration file :)

If you might be interested I'd suggest to change the `addr` type in [config_tcp.rs](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/config_tcp.rs) from `&'a str` to `String` or maybe something more generic, for example, `T: AsRef<str>`. That shouldn't break your

[2018-12-14 12:37] AlexPikalov commented on #234
Yeah, indeed it makes sense. Feel free to submit a PR for that

[2018-12-14 17:20] ecoquery opened #235 "ssandra cdrs async"

[2018-12-14 17:20] #235 closed

[2018-12-15 21:39] AlexPikalov commented on #234
@swizard0

Another option that I've found is [`lazy_static!`](https://github.com/rust-lang-nursery/lazy-static.rs)

[code]
Please check it out. I'm pretty sure it will allow you to have a single binary working with different configs.

Hope it helps

[2018-12-24 08:57] #234 closed

[2018-12-27 00:24] MaenMax opened #236 "Epoch timestamps are being modified by the driver before being stored in Cassandra DB"
For example:

suppose that there is a table in Cassandra called tableA and it has two columns: ID column and timestamp column.

id is INT
timestamp is DECIMAL

When executing those lines of code:

    let update_struct_cql: String = format!("update tableA SET  timestamp = ? where id = ?;");

    ddb.query_with_values(update_struct_cql,query_values!(current_time, id)).expect("[Err]: Could not updat

[2018-12-27 19:37] AlexPikalov commented on #236
Hi @MaenMax ,

First of all thank you for your question. If your timestamp is decimal the driver converts it into decimal data type defined in Cassandra Native Protocol spec https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L863

  [int] "scale" component followed by a varint encoding (see section 6.17)
  of the unscaled value.  The encoded value represents "<unscaled>E<-s

[2018-12-27 20:14] MaenMax commented on #236
Thanks Alex for your reply.

I want to save it as it is in DB. Do you know how to save it so that it appear the same in Cassandra without the conversion? I don't want to change the data type of Cassandra column, I would like to keep it as decimal, but how to save something like "1545870134" into a decimal column type without being converted as above ?

[2018-12-27 21:17] AlexPikalov commented on #236
I can try to modify an algorithm of encoding so that for integer numbers the value will without `E-XXX`, but just `1545870134`.

I'll try to prepare the PR for this change as soon as I can. Will keep you updated.

[2018-12-27 22:06] MaenMax commented on #236
Thanks!

[2018-12-31 07:40] AlexPikalov commented on #236
@MaenMax Thanks again for creating this issue. After deep debugging I've figured out that decimals encoding / decoding was mis implemented. Now it's fixed in #237

[2019-01-02 19:44] MaenMax commented on #236
Thanks Alex, I will fetch your changes into my code. I guess I will need to modify the version in Cargo.toml file.

[2019-01-02 20:19] AlexPikalov commented on #236
Yes. You'll need to modify a version of CDRS to have beta.5.
As well please refer to this test in order to figure out how to let the driver know that your number should be encoded as a decimal
https://github.com/AlexPikalov/cdrs/blob/master/tests/native_types.rs#L191

[code]

[2019-01-02 20:30] MaenMax commented on #236
Okay

[2019-01-02 20:46] MaenMax commented on #236
Hi Alex,
I just tested with Beta 5 version, and I am still seeing the same result. Please refer to the attachment. last_connect && connected at columns are filled with wrong timestamp format.
![print-screen](https://user-images.githubusercontent.com/18452136/50611703-33df6700-0e8c-11e9-89a5-3eea617c1351.png)

[2019-01-02 21:15] AlexPikalov commented on #236
Was this value inserted with prev version of a driver?

[2019-01-02 21:22] AlexPikalov commented on #236
<img width="477" alt="screen shot 2019-01-02 at 22 19 48" src="https://user-images.githubusercontent.com/2776286/50613052-95c7bd00-0edc-11e9-80a6-65fc7931fca4.png">
This is what I have after running e2e tests with decimal values.

Also please check CDRS's version in your lock-file to make sure it was actually updated.

[2019-01-02 21:48] MaenMax commented on #236
Hi Alex,

Yes, it is with beta 5 version, and lock file is updated. I saw in your example above that you have not tried to save a timestamp value into "my_decial" column.

My problem is not with smal values like 120.01, the problem is that I would like to save an epoch timestamp value into "my_decimal" column. Epoch timestamp is a 10 digit number, so a timestamp like 1545870134 is recognized by Ru

[2019-01-02 21:59] AlexPikalov commented on #236
I see. I guess I was able to reproduce the issue. I'm re-opening it

[2019-01-04 20:23] MaenMax commented on #236
Hi Alex,
Any updates on this issue ?

Thanks

[2019-01-04 21:22] AlexPikalov commented on #236
Hi @MaenMax ,

Basically I've found some solution for big numbers. I'll submit a PR with that later today.
Would you be able to check your cases using following version definition in your Cargo.toml?

`cdrs = {git = "i-will-provide-a-link-to-the-branch"}`

[2019-01-04 21:30] AlexPikalov commented on #236
@MaenMax

Please put it into your dependencies and check the solution with your range of numbers

`rand = { git = "https://github.com/AlexPikalov/cdrs", branch = "fix/decimal-for-big-numbers" }`

[2019-01-04 21:36] AlexPikalov commented on #236
I've some solution, but need to make some checks before merging it.

[2019-01-04 22:54] MaenMax commented on #236
Hi Alex,
Thanks for your changes. I am testing again.

[2019-01-04 23:13] AlexPikalov commented on #236
I've just found that it doesn't work quite well with float numbers. I'll try to leverage https://github.com/paupino/rust-decimal. It's seems to be very close to what we're looking for

[2019-01-04 23:40] MaenMax commented on #236
Thanks Alex for looking deeply into this. It is really important as I am developing a backend system which will support over 50 Million users. I can not change the format of table columns of production environment to something other than Decimal (like INT).
If it is really challenging to save timestamps in a column of Decimal type, kindly let me know so that I plan ahead.

[2019-01-05 00:06] AlexPikalov commented on #236
With https://github.com/paupino/rust-decimal it's doable, I just need some time to make it a good citizen of CDRS types system.

Will keep you updated in this thread

[2019-01-05 00:08] MaenMax commented on #236
Sure. Thanks for the update.

[2019-01-05 08:33] AlexPikalov commented on #236
Hi @MaenMax ,

I've provided an implementation that works fine with both integers and float numbers of different ranges. Please check it from your end.

Thanks

[2019-01-07 20:59] AlexPikalov commented on #236
For testing purposes in order to check that proposed solution works in your case you can use a reference to the branch:

[code]

After these check a new version will be published and you'll be able to put a permanent version (I'll provide you with it after publishing)

[2019-01-07 21:15] MaenMax commented on #236
I updated Cargo file, and ran: cargo build, but I got this strange error:

'    Updating git repository `https://github.com/AlexPikalov/cdrs`
    Updating crates.io index
error: failed to select a version for `byteorder`.
    ... required by package `cdrs v2.0.0-beta.5 (https://github.com/AlexPikalov/cdrs?branch=fix/decimal-for-big-numbers#daeadf2f)`
    ... which is depended on by `autopush v1.52

[2019-01-07 21:35] AlexPikalov commented on #236
Very strange. Please try to remove cargo.lock and re-install deps. If it didn't help I'll revert byteorder version

[2019-01-07 22:12] MaenMax commented on #236
I did. Looks like to is compiling. Will update you on test results shortly.

[2019-01-07 22:16] MaenMax commented on #236
Still the same behaviour
![screen_shot](https://user-images.githubusercontent.com/18452136/50796562-d467c980-1286-11e9-8992-2ef76b4fcf07.png)

[2019-01-08 07:19] AlexPikalov commented on #236
@MaenMax
Could you please provide me with exact numbers that lead to those values?

As well please make sure the values are wrapped into `Decimal` before making a query:

[code]

For me the solution works with float numbers as well as with big numbers up to `std::i64::MAX`

[2019-01-09 01:43] MaenMax opened #241 "CDRS driver fails to fetch data from Cassandra, if one or more of the columns has a "null" value."
CDRS drives fails to fetch data from Cassandra, if one or more of the columns has a "null" value.

Code:

fn select_struct(session: &CurrentSession) {
    let select_struct_cql = "SELECT *  FROM autopush.message_2018_10 where uaid='185afbf3d7a94fc6a577c20ffc62431d'";
    let rows = session
        .query(select_struct_cql)
        .expect("query")
        .get_body()
        .expect("get body")

[2019-01-09 01:54] MaenMax commented on #236
I tried but got an error:

I just wanted to use Decimal conversion only on "connected_at" columns

let connected_at: u64 = 1546998816

ddb.query_with_values(update_struct_cql,query_values!(current_month,Decimal::new(connected_at),last_connect,node_id, router_type, user_id)).expect("[Err]: Could not register user");

Error  details:

[rustc]
the trait bound `cdrs::types::value::Bytes: std::convert:

[2019-01-09 07:08] AlexPikalov commented on #241
Hi @MaenMax,

Please make sure in your `RowStruct` those fields that you expect to have `NULL` value have type `Option<T>`. If they are of non-optional type `T` and values are `NULL` there is no way to automatically convert such Cassandra row values into your `RowStruct`.

[2019-01-09 07:20] AlexPikalov commented on #236
@MaenMax

For values of type `u64` the simplest way is to convert a value into `i64` and then pass it into `Decimal::from`:

[code]

Please take a look on `my_decimal_b` column
<img width="334" alt="screen shot 2019-01-09 at 08 18 38" src="https://user-images.githubusercontent.com/2776286/50883077-3a6b6280-13e7-11e9-9d1b-18c3fa26a1fd.png">
it has exactly the number from your example

[2019-01-09 22:10] MaenMax commented on #236
Did it with the same error:

trait `std::convert::From<rust_decimal::Decimal>` is not implemented for `cdrs::types::value::Bytes`

[2019-01-09 22:22] MaenMax commented on #236
![screenshot from 2019-01-09 14-21-11](https://user-images.githubusercontent.com/18452136/50932311-0b221900-141a-11e9-9d19-2c141d60ae5c.png)

[2019-01-09 23:20] AlexPikalov commented on #236
Hi @MaenMax

I've just updated `cdrs_helpers_derive` crate in order to add a support for `Decimal` for derivable traits.

As well I've created a standalone example that shows a usage of CDRS for storing decimals https://github.com/AlexPikalov/cdrs_decimal_example. Please pay attention that to dependencies as they include `cdrs_helpers_derive = "0.3.0"`

Here is what I have after running my example

[2019-01-10 00:12] MaenMax commented on #236
Hi Alex,
It is so strange that your Cargo project cdrs_decimal_example did not compile on my machine.
I just cloned the repo, and ran cargo build.

What Rust version do you use?

error[E0433]: failed to resolve. Use of undeclared type or module `Decimal`
  --> src/main.rs:30:39
   |
30 | #[derive(Clone, Debug, IntoCDRSValue, TryFromRow, PartialEq)]
   |                                       ^^^^^^

[2019-01-10 00:13] MaenMax commented on #236
I use rustc 1.30.0

[2019-01-10 01:56] MaenMax commented on #241
Hi Alex,

it is not my RowStruct

This was defined in your example:

truct RowStruct {
  key: i32,
  user: User,
  map: HashMap<String, User>,
  list: Vec<User>,
}

I am not sure to understand. I think that whatever data the driver fetches from DB, it will un-marshal it into
RowStruct. How do I specify column names ?

[2019-01-10 01:56] MaenMax commented on #241
Oh I think I got what you meant. Let me try.

[2019-01-10 02:16] MaenMax commented on #241
General("Column or UDT property \'key\' is empty")',

[2019-01-10 06:34] AlexPikalov commented on #236
Congrats! I'm glad I was ableto help you.

Also thank you for helping me identifying the problem with encoding/decoding decimals.

Now, I'm going to merge and publish it so you'll be able to put cdrs dependency in a regular way by just prividing its version

[2019-01-10 19:40] MaenMax commented on #236
Hi Alex,
Thank you so much for your support on this. Kindly let me know when you publish. I believe it is going to be in beta 6, if I am not mistaking.

Maen

[2019-01-10 19:41] MaenMax commented on #241
Hi Alex,

Any answer to this question ?

Thanks

[2019-01-10 20:08] AlexPikalov commented on #241
Hi @MaenMax ,

I'll try explain how unmarshaling works in CDRS in few words. First of all, each field in a Cassandra table is optional, meaning it can either contain an actual value or be empty (null or empty). Basically, to convert from a `Row` structure which is a set of bytes to some Rust struct such as `RowStruct` in your example there are two options:

1. to convert via implementing [`TryFrom

[2019-01-10 20:54] AlexPikalov commented on #236
Hi @MaenMax,

It's my pleasure to help.

`2.0.0-beta.6` has been just published so you can use it in your project.

[2019-01-10 20:55] #236 closed

[2019-01-10 22:11] MaenMax commented on #241
Thanks for your precious comments. I understood unmarshalling.
I was successful to read a row from router table. Defined my "RouterRowStruct" to be:

struct RouterRowStruct {
  uaid: String,
  connected_at: Decimal,
  current_month: String,
  last_connect: Decimal,
  node_id: String,
  record_version: i32,
  router_type: String,
}

[2019-01-11 07:08] AlexPikalov commented on #241
Great! 👍

[2019-01-11 07:08] #241 closed

[2019-01-12 00:07] MaenMax opened #242 "QUESTION"
What Rust data types would be good to fetch data from Cassandra columns of type:

**[1] set < text >**

**[2] map<text, text>**

[2019-01-12 09:21] AlexPikalov commented on #242
set is usually converted into vectors so for [1] `Vec<String>` looks most natural, as for [2] it'd be `HashMap<String, String>`

[2019-01-15 08:42] #242 closed

[2019-01-15 14:44] AlexPikalov opened #243 "Allow try_from_row to work with &Row"
As of now `try_from_raw` works with `Row` and doesn't accept references.

In this issue we need to provide such possibility.

[2019-01-16 06:48] cnd opened #244 "Bump version"
As far as I understand to use `git` version with `[patch.crates-io]` it must be newer than in crates.io so possibly it will be much better if you will update version after right deploying to crates.
Correct me if I've mistaken with understanding.

[2019-01-16 20:36] AlexPikalov commented on #244
Generally, version of a source from `[patch.crates-io]` should be the same as the one from `[dependencies]`. Thus no need to increment version right after publishing from that point of view.

Also you never know if any breaking changes/new features will be introduced during a development cycle. I would prefer to assign a version for a build accordingly to semver principles right before publish. Af

[2019-01-16 20:36] #244 closed

[2019-03-01 10:47] psachs opened #245 ""failed to fill whole buffer" with multiple nodes"
When configuring multiple scylla nodes, insert failes with an error "failed to fill whole buffer":

[code]

The issue can be reproduced with the following setup:

1. Setup scylla cluster with 3 nodes
[code]

2.  Create column family within cqlsh: `docker exec -it scylla-0 cqlsh`
[code]

3. Cargo.toml
[code]

4. main.rs

[code]

[2019-03-01 10:53] AlexPikalov commented on #245
Hello @psachs,

Thank you for creating this issue and providing the reproduction steps. I'll have a look in that today. Will keep you updated.

[2019-03-01 11:51] AlexPikalov commented on #245
@psachs
In spare time, could you please try to use `v3` feature to `cdrs`? By default CDRS uses version 4 of CQL binary protocol, but Scylla in some previous versions (I didn't check the most recent one) used 3-rd version.

[code]

[2019-03-01 11:56] psachs commented on #245
@AlexPikalov Thank you for the fast response, I updated the dependency as you requested. It did not help with the issue.
The current scylla seems to use v4
[code]

[2019-03-01 11:58] AlexPikalov commented on #245
@psachs Thanks for the feedback. Then, as I said, hope I'll be able to come up with something later today.

[2019-03-01 12:00] psachs commented on #245
@AlexPikalov Thank you very much for your support. Let me know if I can help you with anything

[2019-03-01 23:50] AlexPikalov commented on #245
So far I was able to figure out what `Io(Custom { kind: UnexpectedEof, error: StringError("failed to fill whole buffer") })` really means. Error frame parser had a bug so it wasn't able to properly parse an another error which is `Unprepared(UnpreparedError { id: CBytesShort { bytes: Some([241, 127, 142, 119, 197, 190, 59, 121, 10, 103, 147, 178, 235, 162, 184, 230]) } }) })` that means that clien

[2019-03-02 11:54] AlexPikalov commented on #245
@psachs

The problem with unprepared statement is caused by by the fact that each new request obtains a cluster node where a request will be sent. In your code each thread makes two requests to a server - `thread_session.prepare(INSERT_DATA)` and `thread_session.exec_with_values(&query_insert_data, values)`. Most probably there was made a false assumption that both of these calls will be made to t

[2019-03-02 17:53] psachs commented on #245
@AlexPikalov Thank you very much for the clarification. Yes I can get rid of the prepared statements for now.
And of course I really appreciate your fast response and fast fixing of the issue. I can test again on Monday and let you know if everything worked out.

[2019-03-04 09:59] psachs commented on #245
@AlexPikalov
I just tested the master branch for around 2 hours with some realistic load and everything works like a charm without the prepared statements.

I therefore consider this bug as fixed and I am looking forward for the beta7 release ;-)

[2019-03-04 09:59] #245 closed

[2019-03-04 20:48] AlexPikalov commented on #245
@psachs

Thanks again for reporting this issue! Beta 7 with fix of unprepared error was published.

As for modification of load balancer I'll create an issue and will try to come up with some approach to this problem.

[2019-03-14 22:52] AlexPikalov opened #248 "Upgrade byteorder version to newest"
Currently CDRS uses fixed version of byteorder which may be a source of incompatibility.

The version of byteorder should be unfixed so the the `1.x.x` may be used.

[2019-03-19 19:10] Thomas-QM opened #249 "USE statement"
attempting something like ``conn.query("USE chubber")?;`` doesn't work for future queries (``Server(CDRSError { error_code: 8704, message: CString { string: "No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename" }, additional_info: Invalid(SimpleError) })`` when trying ``conn.query("SELECT * FROM table;")?;``) and having to write ``keyspace.table`` for every ope

[2019-03-20 21:13] AlexPikalov commented on #249
I guess this maybe the same problem with proposed load balancing mechanism as with PREPARE statement in https://github.com/AlexPikalov/cdrs/issues/245

There is a a family of similar problems with current load balancer caused by a fact that on a new request it will pick up a new connection from a connection pool (the pool of connections to a node). Because of that the query `SELECT` is being execu

[2019-03-20 21:21] Thomas-QM commented on #249
ive already tried that, and the error prevails... sorry for not specifying

[2019-03-20 21:23] AlexPikalov opened #250 "Fix load balancer so was possible to use queries with a namespace context"
Existing conception of load balancer which works along with r2d2 connection pool does not allow to use a query with a namespace context:

* USE namespace query and then queries on tables without specifying a namespace.

It's happening even with a single node clusters because CDRS creates a pool of connection to each node. Default number of connections is the same as a default `max_size` of r2d2 de

[2019-03-20 21:28] AlexPikalov commented on #249
Do you use a single or a multi-node cluster?

[2019-03-20 21:29] Thomas-QM commented on #249
single node? heres my code:
[code]

[2019-03-20 22:00] #250 closed

[2019-03-20 22:13] AlexPikalov commented on #249
I've just recorded a r2d2 Pool state between calls. This is what I've got

[code]

Seems there is a problem with getting connections back to the Pool. I'll investigate it further and will keep you updated in this thread.

[2019-03-21 15:20] lewisdiamond opened #251 "Counters are documented as u64"
`type-mapping.md` specified counter -> u64, but when using u64 `try_from_row` fails. It should be documented as i64.

[2019-03-21 15:29] lewisdiamond opened #252 "2.0.0 Async API documentation"
I am trying to evaluate CDRS 2.0.0 but I find no documentation on how to use it asynchronously or with a streaming api.

Is this API documented already?
If not, is there an IRC channel or somewhere to discuss with people who have experience with CDRS so that I can make a PR with some documentation?

[2019-03-21 21:21] AlexPikalov commented on #252
Hello @lewisdiamond

So far CDRS itself doesn't have any special async API however it can be used in multithread applications as you can see in the [example](https://github.com/AlexPikalov/cdrs/blob/master/examples/multiple_thread.rs). That's why one can imagine CDRS being used along with Actor pattern similarly to what was done in Actix example   https://actix.rs/docs/databases/

Feel free to cre

[2019-03-21 21:27] AlexPikalov commented on #251
Hello @lewisdiamond ,

Thanks for submitting this issue.
You're right it should be `i64`. I've marked this as a documentation bug.

More precise with data marshaling/unmarshaling you can find in e2e tests https://github.com/AlexPikalov/cdrs/blob/master/tests/native_types.rs#L63

[2019-03-21 22:02] AlexPikalov commented on #249
Here https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/ssl_connection_pool.rs#L77 and here https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/tcp_connection_pool.rs#L67 should be negation:

[code]

[2019-03-22 06:29] #249 closed

[2019-03-22 13:59] lewisdiamond commented on #252
I was referring to this:
https://github.com/AlexPikalov/cdrs/issues/217

I don't know if that has been integrated in 2.0.0 or put on ice.

[2019-03-22 14:31] AlexPikalov commented on #252
Actually it's implemented as it was described here https://github.com/AlexPikalov/cdrs/issues/217#issuecomment-414229846 "without leveraging Futures".

And it's more or less the same as I described beyond. CDRS itself works in a sync way but is thread safe so an additional abstractions could be created on top of CDRS. Such abstraction could follow different patterns such as Futures or Actor but cu

[2019-03-23 08:30] Thomas-QM opened #255 "no function or associated item named `try_from_udt` found for type `uuid::Uuid` in the current scope"
hey! im back again with another bug (?)
uuid doesnt seem to work with ``#[derive(TryFromRow)]`` on what appears to be a perfectly sane struct:
[code]
where ``UserId`` is a type abbreviation for Uuid...

there appear to be no version conflicts, only one version of uuid is in Cargo.lock, but i get this:
[code]

i have a lot of stuff in scope, i thought one of these shouldve worked:
[code]

i only se

[2019-03-23 10:35] #248 closed

[2019-03-23 17:32] AlexPikalov commented on #255
Hi @Thomas-QM ,

Please check this PR out https://github.com/AlexPikalov/cdrs/pull/256. I've extended tests for `Derive`. Now it has both `Blob` and `Uuid`. And they are passed. Please compare it with your own code. Hope it will help.

Full test file https://github.com/AlexPikalov/cdrs/blob/6bbe74a516e0e19635f827a1685f4acb9729312d/tests/derive_traits.rs

[2019-03-23 18:42] Thomas-QM commented on #255
thanks! i found the error, its apparently the type abbreviation: ``pub type UserId = Uuid;``, and this works fine:

[code]

maybe cdrs thinks UserId is a UDT, then goes out looking for the UDT implementation in the scope?

[2019-03-23 19:52] AlexPikalov commented on #255
Yes, this is correct.

`TryFromRow` doesn't work with type aliasing such as `type X = Y`. During deriving `TryFromRow` `syn` crate returns a type of a field as a string and then it gets to https://github.com/AlexPikalov/cdrs-helpers-derive/blob/master/src/common.rs#L61 and matches with types that could be transformed to Cassandra values.

As you can see here https://github.com/AlexPikalov/cdrs-hel

[2019-03-24 11:57] #255 closed

[2019-03-25 19:21] #251 closed

[2019-04-18 03:40] pili2026 opened #260 "Find schema of the table and the column"
Is there any way to use the iterative method to find the schema of the table and the column?

Because I want to use table schema and column schema as dynamic variables, what are the examples or methods?

[2019-04-21 07:20] AlexPikalov commented on #260
Hi @pili2026
From Cassandra itself point of view, I don't know the way how to get such metadata by some query.
From CDRS end there is also no way to do that.

[2019-04-29 19:38] #260 closed

[2019-04-29 20:17] MaenMax opened #261 "QUESTION:"
How to make Cassandra IP address/domain name configurable?

let node = NodeTcpConfigBuilder::new("127.0.0.1:9042", NoneAuthenticator {}).build();

Above code works. But, whenever I add a variable instead of constant, Rust compiler complains that the variable does not live enough. Could you please help on this.

Thanks
Maen

[2019-05-01 18:18] MaenMax commented on #261
Any answer to this ?

[2019-05-03 14:35] AlexPikalov commented on #261
Hi Maen,
Please provide a code snippet that reproduces your issue

[2019-05-05 00:35] ArtRand commented on #261
I noticed something similar.
This works:
[code]
this does not
[code]

Maybe because of the lifetime [here](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/session.rs#L119)? How do you imagine to setup a session with something other than a string literal?

(Really like using the lib btw.)

[2019-05-05 09:16] AlexPikalov commented on #261
Hi @ArtRand,

Thanks for the snippet! It helped me to reproduce the problem. After some analysis I've came to conclusion that lifetime requirement can be relaxed so static lifetime is not mandatory.

@MaenMax Thanks for reporting the problem

[2019-05-05 14:02] ArtRand commented on #261
Works great. Thanks for the speedy fix!

[2019-05-07 22:22] MaenMax commented on #261
Thanks folks ! I tried with the new merge and it worked.

[2019-05-08 23:25] MaenMax opened #263 "CDRS never included an example of using PasswordAuthenticator"
Can you please include an example in "examples" folder, which shows how to connect to Cassandra DB using  non-default credentials?

For example, when I use :

pub type CurrentSession = Session <RoundRobin< TcpConnectionPool < PasswordAuthenticator > > >;

For authentication instead of:

pub type CurrentSession = Session < RoundRobin< TcpConnectionPool < NoneAthenticator > > >;

I get this error:

[2019-05-09 20:16] AlexPikalov commented on #261
Cool! I'll keep you posted about publishing new version in this thread.

[2019-05-09 20:31] AlexPikalov commented on #263
Hi @MaenMax ,
Thanks for reporting this. I'm on it.

[2019-05-09 20:33] MaenMax commented on #263
@AlexPikalov got u.

[2019-05-09 20:40] AlexPikalov commented on #263
@MaenMax ,
Please check if having
[code]
helps in your case.

From my end I'll try to refactor `PasswordAuthenticator` or to create a new authenticator (if it is a breaking change) that would be used as `org.apache.cassandra.auth.PasswordAuthenticator` strategy and it owns credentials and doesn't need to have lifetime specified.

[2019-05-09 22:04] MaenMax commented on #263
Thanks. I modified the code.

[2019-05-09 22:06] MaenMax opened #264 "Lifetime issue with PasswordAuthenticator object"
When I try to pass Cassandra username  & Password, compiler complains about lifetime of the two variables (cass_user and cass_password).

let authenticator =  PasswordAuthenticator::new(& cass_user, & cass_password);

------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------

[2019-05-09 22:11] MaenMax commented on #264
Since this code works:

let authenticator =  PasswordAuthenticator::new("cassandra", "cassandra");

I suspect that it is the same issue as #261 (Which was already fixed). Hope to fix this as well.

Thanks.

[2019-05-09 22:14] MaenMax commented on #263
It helped yes.

[2019-05-10 22:26] MaenMax commented on #264
Sorry, closed it by mistake

[2019-05-13 19:13] xzdandy opened #265 "join in multiple thread example"
In [multiple thread example](https://github.com/AlexPikalov/cdrs/blob/master/examples/multiple_thread.rs), join is after every thread spawned. Is this behavior intended?

Or it should be
[code]

[2019-05-14 02:56] MaenMax commented on #264
@AlexPikalov  Any update on this issue? Thanks

[2019-05-14 06:04] #264 closed

[2019-05-14 06:06] AlexPikalov commented on #263
I've created new authenticator `StaticPasswordAuthenticator` that is easier to use. It's already in master

[2019-05-14 06:08] AlexPikalov commented on #264
@MaenMax
I've created a new authenticator `StaticPasswordAuthenticator` that doesn't require static lifetime. It's already in master.
I'm going to publish it on crates.io today and bump the version to `2.1.0`

[2019-05-16 19:41] #263 closed

[2019-05-16 19:44] AlexPikalov commented on #261
Try to use [`StaticPasswordAuthenticator`](https://docs.rs/cdrs/2.1.0/cdrs/authenticators/struct.StaticPasswordAuthenticator.html) instead of `PasswordAuthenticator`. It doesn't have any livetimes so it must be much easier to use. It was published in `2.1.0`

[2019-05-16 19:44] #261 closed

[2019-05-28 09:29] fanvanzh commented on #265
I also found this problem,  this confuse me a lot.
I used to suspect that the drive efficiency was too low.

[2019-06-18 01:27] MaenMax opened #268 "describe tables cql statement is not implemented?"
let describe_struct_cql = "DESCRIBE tables;";
    let rows = ddb
    .query(describe_struct_cql)
    .expect("query")
    .get_body()
    .expect("get body")
    .into_rows()
    .expect("into rows");

I tried to get the list of tables by using describe statement as above but I got this error:

thread '<unnamed>' panicked at 'query: Server(CDRSError { error_code: 8192, message: CString { string: "

[2019-06-18 11:45] AlexPikalov commented on #268
Hi @MaenMax ,
No, it's not implemented on CDRS level. Moreover, basing on the error you are receiving your Cassandra instance doesn't support it either. As you can see, it's a server error.

`describe table;` is a part command shell API (`cqlsh`) not a native CQL command.

Please check this answer on Stackoverflow https://stackoverflow.com/questions/38696316/how-to-list-all-cassandra-tables

[2019-06-18 11:45] #268 closed

[2019-06-25 23:08] kamek-pf commented on #195
@AlexPikalov Looks like the current methods for `BatchQueryBuilder` consume `self`, making it difficult to prepare big batches. I need to add queries to the builder using a loop, is there a way to do this currently ?

[2019-06-26 07:27] AlexPikalov commented on #195
Hi @kamek-pf
I'd need to analyse your use case. Please give me some time. I'll keep you updated in this topic

[2019-07-03 21:07] MaenMax opened #269 "CDRS driver does not support older Cassandra versions (2.x.x)"
I was not able to connect the driver to Cassandra DB  2.1.16

The error message is attached

![MicrosoftTeams-image](https://user-images.githubusercontent.com/18452136/60625128-c1e4cd80-9d9b-11e9-8935-82b5af63584d.png)

Could you please help to solve this issue for us ?

[2019-07-04 18:29] AlexPikalov commented on #269
Hi @MaenMax

Probably this version of Cassandra uses version 3 of binary protocol.
Please try to use CDRS with feature `v3`. Put it into your `Cargo.toml`:

[code]

or

[code]
if you use SSL.

It should help

[2019-07-05 21:34] MaenMax commented on #269
I will try and let you know. Thanks!

[2019-07-07 06:45] AlexPikalov commented on #269
I'm closing this issue.
If you find any problems working with CDRS and version 3 Cassandra binary protocol please feel free to re-open this issue or create a new one.
Thanks.

[2019-07-07 06:45] #269 closed

[2019-07-09 20:42] MaenMax commented on #269
Hi Alex,
Thanks for your comment. I recompiled my project with the modification you pointed to, but with no success. I got this error:

Thread '<unnamed>' panicked at 'query: Server(CDRSError { error_code: 8704, message: CString { string: "Keyspace system_schema does not exist" }, additional_info: Invalid(SimpleError) })', src/libcore/result.rs:997:5
note: Run with `RUST_BACKTRACE=1` environment v

[2019-07-10 05:30] AlexPikalov commented on #269
Seems like somewhere in your code you use something like `use system_schema;` and, in your version of Cassandra seerver, such keyspace doesn't exist.

[2019-07-10 19:43] MaenMax commented on #269
Thanks for your insights ! That's true, I use that in my code. Because I need to get the list of tables in a particular keyspace.

[code]
Cassandra older versions do not have the default system_schema keyspace which will allow me to get the list of tables. Now, I don't have any idea  about how to do that in CDRS. At least, I know that in order to get the list of tables of a particular keyspace in

[2019-07-10 23:14] MaenMax commented on #269
Hi Alex,

I actually found the  Select statement which can retrieve the list of tables in Older Cassandra versions :

    let describe_struct_cql = "select  columnfamily_name  from system.schema_columnfamilies  where keyspace_name = 'autopush';";

It worked with me.

[2019-07-11 13:19] AlexPikalov commented on #269
Hi @MaenMax ,
Great!

[2019-07-15 16:55] ArtRand opened #270 "[Question] BB8 drop-in for async/futures support?"
Hello, first off, superb job on this crate and version 2. I really like using it. Along those lines, I'd like to help contribute if possible. I was looking at a way to use rust futures/async-io and came across [bb88](https://docs.rs/bb8/0.3.0/bb8/index.html). It might be possible to simple drop this in where you're using r2d2 for connection pool management and get futures support. Have you thought

[2019-07-15 18:20] AlexPikalov commented on #270
Hi @ArtRand,

Initially I was thinking about creating a separate crate for async implementation of the driver, but using bb8 sounds interesting!

 I'd love to see this PR. If it's possible please consider a conditional compilation for such implementation. We can introduce a new feature flag, for instance `async`, and to keep old implementation by adding annotations `#[cfg(not(async))]` and to add

[2019-08-04 00:34] truthaman opened #271 "Compilation error with ssl feature"
I have been trying to play with ssl feature, and facing compile issue due to typo on line 43 in src/cluster/config_ssl.rs
There are some extra characters  });  confusing compiler.
Also the rust-openssl v0.9.23 does not support OpenSSL 1.1.1 which prevents compilation on current Linux systems - could you please bump up version to 0.10 ?

[2019-08-04 18:56] AlexPikalov commented on #271
Hi @truthaman,

Thank you for reporting this issue!

[2019-08-06 15:05] #271 closed

[2019-08-07 12:43] AlexPikalov opened #273 "CI: rework how Cassandra is installed by Travis"
Use following manual from the official doc

https://docs.travis-ci.com/user/database-setup/#cassandra

[2019-08-14 21:33] #273 closed

[2019-08-15 06:11] #66 closed

[2019-08-18 12:31] AlexPikalov opened #278 "Use rust edition 2018"

[2019-08-21 18:34] #229 closed

[2019-08-22 16:08] #278 closed

[2019-08-30 09:59] ernestas-poskus opened #282 "panic: General("List should not be empty") when using SELECT, INSERT is fine"
Have a problem with nested UDT SELECT query (INSERT is fine, verified data with cqlsh shell).

I use scylla database.

From backtrace looks like this place panics

[code]

[code]

.unwrap in particular. Although I don't insert empty list (Vec) I assume it should initialize empty Vec on Rust side or did I misunderstood something?

[2019-08-30 18:57] AlexPikalov commented on #282
Hi @ernestas-poskus ,

Thanks for submitting the issue!
If you don't submit an empty list I assume that there will be value [`NotSet`](https://github.com/AlexPikalov/cdrs/blob/master/src/types/value.rs#L21) returned by a server. Thus https://github.com/AlexPikalov/cdrs-helpers-derive/blob/master/src/common.rs#L74 will be not Ok.

If there is a case for you that for some value no-value can be submi

[2019-09-01 16:00] ernestas-poskus commented on #282
Thank you for reply, value is not empty and I read instantly after write.. Anyway seems like it was Scylla issue after updating to latest docker version everything works as expected :man_shrugging:.

Seems like an issue was with UDT TYPE, columns in nested UDT TYPE, Scylla cutoff last 2 columns, therefore, SELECT was failing although INSERT was successful.

Thanks for help :bowing_man:.

Please in

[2019-09-01 16:00] #282 closed

[2019-09-02 11:28] AlexPikalov commented on #282
@ernestas-poskus
Glad to know it's working know. It's my pleasure to help 🙂
PS: will consider adding Patreon 😄

[2019-09-03 23:02] MaenMax opened #283 "How to use TTL feature in CDRS?"
Hello Alex,

I would like to insert a record with TTL in Cassandra, so that it will get deleted after the TTL is consumed. Is there a way to do this in CDRS?

I tried adding "USING TTL 60" at the end of the query but it did not work.

ine 1:145 missing EOF at \'USING\' (...? where uaid = ? [USING] TTL...

Is there a TTL setter at API level I can use?

Thanks,
Maen

[2019-09-04 05:05] AlexPikalov commented on #283
Looks like a problem with a query syntax. There is nothing CDRS could do for you in this situation. Please try to search in special Cassandra forums like Stackoverflow. For example [here](https://www.google.com/search?q=cassandra+missing+EOF+at+%27USING%27+site:stackoverflow.com&rlz=1C5AVSZ_enPL662PL662&sa=X&ved=2ahUKEwjChavLsLbkAhVRwcQBHdhYAmwQrQIoBDAAegQIBhAN&cshid=1567573231988298&biw=1280&bih=

[2019-09-04 05:05] #283 closed

[2019-09-05 00:33] MaenMax commented on #283
Thanks for your insights Alex. It was a Syntax error

[2019-10-01 15:54] krojew opened #284 "Updating a set of udt results with cluster error"
If a table contains a set of frozen UDT and we execute `update table set column = column + ? where ...` and pass a UDT using query_values, the cluster responds with `Server error: CString { string: "java.lang.IllegalArgumentException" }`. Executing the same query using text, results in a success.

The stack trace in Cassandra is:

[code]

[2019-10-01 18:56] AlexPikalov commented on #284
Hello @krojew

Would you be able to provide a full code snippet along with Cassandra version?

[2019-10-02 11:54] krojew commented on #284
DB preparation:

[code]

Rust:

[code]

[2019-10-05 06:01] AlexPikalov commented on #284
Hi @krojew,

Looks like the problem is with values you pass for execution.
The query that was prepared is `UPDATE bug_284.table1 SET udts = udts + ? WHERE id = ?`. When we do `some_set = some_set + X`, `X` is an another **set** of the values of the same type as `some_set`, not a single item. It allows to "push" few values in the same query.

So, what you need to do in order to get your issues fixe

[2019-10-05 06:03] krojew commented on #284
That might be it. It would be good to add such example to the documentation.

[2019-10-05 06:04] #284 closed

[2019-10-05 06:07] AlexPikalov opened #286 "Add an example for pushing items to a collection"
Add an example to illustrates a process of pushing items to:

* map
* set
* list

column.

Related to #284

[2019-10-05 06:08] AlexPikalov commented on #284
I've created an issue to provide examples for set, list and map (#286)

[2019-10-05 06:36] wwwesleyyy opened #287 "Examples Error: Non-frozen UDTs are Not Supported"
Running the samples in `cdrs/examples/crud_operations.rs` against Scylla 3.0.10-0.20190815.b3bfd8c08 returns:

[code]

[2019-10-05 08:48] #287 closed

[2019-10-05 08:51] AlexPikalov commented on #287
Hi @wwwesleyyy,

I think we may want to add a separate e2e test step for Scylla to make sure we keep Scylla support.
This is something that we are missing in the CI

[2019-10-18 01:41] ZakCodes opened #289 "rustfmt configured but not used"
I've tried running `cargo fmt` in the repository and about half of the files were modified.
The biggest issue is with the number of spaces for indentation. Some files use 4 spaces and others use 2 spaces, the `rustfmt.toml` configures the project to use 2 spaces.

[2019-10-19 07:36] #286 closed

[2019-10-19 07:38] AlexPikalov commented on #289
@ZakCodes Thanks for the issue.
It's true. It was disabled in times when `cargo fmt` required nightly version of Rust.
Now we can enable it.

[2019-10-19 09:01] #289 closed

[2019-10-21 06:40] cnd opened #292 "new Uuid support"
starting from uuid `0.8.1` cdrs gives error:

the trait `std::convert::From<uuid::Uuid>` is not implemented for `cdrs::types::value::Bytes`

[2019-10-21 11:08] AlexPikalov commented on #292
@cnd

Thank you for creating this issue. If you are not working on a solution I'm going to pick this up

[2019-10-21 12:22] cnd commented on #292
@AlexPikalov nothing for, I'm not working on solution :)

[2019-12-09 17:32] ayonsaha2011 opened #293 "actix-web argument requires that borrow lasts for `'static`"
Error

70 | |             .data(&no_compression.clone())
   | |____________________^^^^^^^^^^^^^^^^^^^^^^- argument requires that borrow lasts for `'static`
   |                      |
   |                      creates a temporary which is freed while still in use
...
74 |       })
   |       - temporary value is freed at the end of this statement

[2019-12-10 15:41] ayonsaha2011 opened #294 "Invalid"

[2019-12-10 15:52] #294 closed

[2019-12-16 20:43] NunuM opened #296 "Authentication bug"
Hi again @AlexPikalov ,

I was testing Cassandra 4.0~alpha2 version, and after setup one cluster with three nodes, I take this driver to play with it, but I could authenticate into the cluster, giving the error:

[code]

Digging up, I have used **strace** command, on production cluster that has the Cassandra 3, and on the new cluster with Cassandra 4

[code]

Then, I took the frame payload from th

[2019-12-17 10:35] AlexPikalov commented on #296
Hi @NunuM
Thanks for submitting the issue and for details explanation. I'll need to look closer on that.
Please give me a day or something

[2019-12-17 20:11] NunuM commented on #296
@AlexPikalov my pleasure. Yes, take your time 👍

[2019-12-17 21:08] AlexPikalov commented on #296
@NunuM

Looks like you're absolutely right about extra 4 bytes.

According to the [spec](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L294):

[code]

It's already a Cassandra bytes (4 bytes of length + following bytes) so no need to convert them again like it's done here.

Could you please submit a PR?

[2019-12-17 21:19] AlexPikalov commented on #296
Only one thing. I like the original idea to have a separate structure for each type of body. So if we can agree that [this](https://github.com/AlexPikalov/cdrs/blob/master/src/frame/frame_auth_response.rs#L8) already contains bytes then we can modify `new_req_auth_response` in following way:

[code]
while having [here](https://github.com/AlexPikalov/cdrs/blob/master/src/cluster/tcp_connection_pool

[2019-12-17 23:01] AERC18 opened #297 "User guide SSL session"
Hi @AlexPikalov, I found that the SSL session guide points to this file: [https://github.com/AlexPikalov/cdrs/blob/master/documentation/cdrs-session.md ](url)
where is no actual documentation about creating SSL connection.

Going through the code I manage to do this:

`
        type CurrentSession = Session<RoundRobin<SslConnectionPool<StaticPasswordAuthenticator>>>;

    fn create_session() -> Cu

[2019-12-18 06:30] cnd opened #298 "some conflict with uuid, complication error"
[code]

[2019-12-18 06:41] krojew commented on #298
Can confirm - 2.2.1 is broken.

[2019-12-18 06:58] cnd commented on #298
@krojew something different there, I have same error with 2.2.0 which were early working

[2019-12-18 12:32] AlexPikalov commented on #298
@cnd @krojew

Probably I have some previous version of uuid in my lock file so it compiled without errors.
Will try to fix it today.

Thank you for creating the issue and sorry for inconveniences

[2019-12-18 19:09] #292 closed

[2019-12-18 19:09] #298 closed

[2019-12-18 19:18] AlexPikalov commented on #297
Hi @AERC18
I'd need to check the process of SSL connection
Will keep you updated in this issue thread

[2019-12-19 07:36] krojew commented on #298
@AlexPikalov any chance for a new release with the fix?

[2019-12-19 13:07] AlexPikalov commented on #298
@krojew I've just triggered a release

[2019-12-19 13:12] AlexPikalov commented on #298
@krojew @cnd 2.2.2 has been released

[2019-12-19 13:34] krojew opened #301 "Uuid support stopped working"
In version 2.2.2 converting to/from uuid results in an error:

[code]

[2019-12-19 17:25] AlexPikalov commented on #301
@krojew I'm on it

[2019-12-19 17:29] AlexPikalov commented on #301
@krojew It may happen if in your application you use UUID version different from `0.8.1`.

[2019-12-19 17:40] AlexPikalov commented on #296
Fixed in #299

[2019-12-19 17:40] #296 closed

[2019-12-20 16:17] dspadea opened #302 "TLS connections hang in 2.2.2 but seems to work in HEAD"
SSL connections hang in 2.2.2, but it seems fixed in HEAD. Testing connecting to AWS Managed Cassandra using StaticPasswordAuthenticator and the AWS Root CA. The following code hangs every time in `new_ssl` with 2.2.2, but works fine if I clone this project and point cargo at my local copy at HEAD (currently 4e091897aa739b5e906411ef4ca8ca3d579390a6).

As it seems to be fixed in head, I assume you'

[2019-12-20 18:55] AlexPikalov commented on #302
@dspadea
Thank you for submitting the issue. This is definitely a subject for investigation. Even if it's fixed it was done unintentionally.
I need to investigate it.

[2019-12-21 05:56] AlexPikalov commented on #302
@dspadea
I've published 2.2.3. I must contain the fix

[2019-12-21 09:36] dspadea commented on #302
Verified! Looks like it's connecting now! Thank you for your speedy response!

[2019-12-21 17:09] AlexPikalov commented on #302
You're very welcome

[2019-12-21 17:09] #302 closed

[2019-12-24 20:31] Jasperav opened #305 ""this function takes 1 parameter but 2 parameters were supplied""
Clone and run https://github.com/Jasperav/CassandraRustMapping, the compile time error will be shown. How can I fix this?

[2019-12-26 05:46] AlexPikalov commented on #305
Hi @Jasperav,

I've managed to fix it. This is the git diff from your project:

[code]
[code]
Please let me know if it helped

[2019-12-26 05:46] #305 closed

[2019-12-28 05:09] russoturisto commented on #131
Hello,

I'm also interested in Token-aware routing.  Would like to implement high traffic query service in Rust but not having this feature actually makes Go (which has it) more effective.  Is this likely to be implemented sometime in 2020?

Sincerely,

Artem

[2019-12-28 05:56] AlexPikalov commented on #131
Hello @russoturisto,

Yes, it must be a task with one of highest priority in 2020.

[2019-12-29 12:17] russoturisto commented on #131
Did a bit of digging in ScyllaDB go driver.  I have now idea what I'm talking about here but hopefully this will help:

Murmur3 hash appears to be used:  https://github.com/gocql/gocql/blob/master/token.go
Here is the Go implementation of the policy:  https://github.com/gocql/gocql/blob/master/policies.go

On a separate note, here is the ScyllaDB protocol extension that connects to the right shard

[2019-12-30 11:47] AlexPikalov commented on #131
Hi @russoturisto ,
really appreciate the research you've done. 🥇

[2019-12-31 18:48] Jasperav opened #306 "How to query UUID with query_values!"
When I try to query my data which have the PK of type UUID, I get this runtime error:

With this code:

[code]

How can I query my data with type UUID?

[2020-01-01 18:35] AlexPikalov commented on #306
Hi @Jasperav
try to put parsed [`UUID`](https://docs.rs/uuid/0.8.1/uuid/) instead of a plain string.

[code]

[2020-01-01 23:43] Jasperav commented on #306
Thanks this worked :)

[2020-01-01 23:43] #306 closed

[2020-01-03 15:47] psarna commented on #131
Hi, I'm from ScyllaDB, but this post is from my private spare time, so no warranty :)
I stumbled upon this issue while lurking for places to learn Rust from, and I have some more context, maybe it will help someone. I refer to Scylla java driver in the links, as it's rather clear to read and it has all these features implemented already.

First of all, in order to have token-aware policy, the driv

[2020-01-03 16:12] psarna commented on #131
Also, as an exercise for myself, I wrote a quite useless (at least for now) snippet that reads Scylla sharding info from a node and prints it: https://github.com/psarna/cdrs/commit/1b25affc7d1360e9fec441f907c8846ada27ed2b. Perhaps it can be used one day as a template for implementing shard awareness in cdrs on top of token awareness. It's also literally my first code in Rust, so don't judge :)

[2020-01-03 19:53] AlexPikalov commented on #131
Hi @psarna,
Thanks for this great insight and for your code snippet! I think it may be a very useful basis for the routing. Perhaps your code can be included into the CDRS as a some feature. So if somebody needs it he or she could use CDRS with such feature enabled. For other users, it won't be included into the bundle.
So, feel free to submit a MR with a new Rust-feature and your code. If you nee

[2020-01-06 15:17] psarna commented on #131
Thanks. I'm a little short on time, but I'll try to figure out Rust's conditional compiling by myself, and perhaps one day I'll push something more substantial. And if token-aware routing makes it into cdrs one day, I could definitely help integrating Scylla's shard awareness on top of it.

[2020-01-07 15:25] jacekchmiel commented on #301
@AlexPikalov did you consider changing `uuid = "0"` requirement to `uuid = "0.8.1"` if it actually requires this version specifically?

[2020-01-07 19:53] AlexPikalov commented on #301
@jacekchmiel yup, fixing version (which I'm not a big fan of) must be only the only solution in this case.

[2020-01-07 23:19] russoturisto opened #307 "How to cancel paged query?"
Hello,

I'm trying to figure out a way to cancel a paged query in the middle of execution.  Is there anything that needs to be done (to release any database resources)?  I'm looking at the example but it doesn't appear to showcase that.

https://github.com/AlexPikalov/cdrs/blob/master/examples/paged_query.rs

Sincerely,

Artem

[2020-01-08 03:12] russoturisto commented on #307
Never mind, I wasn't structuring my query properly.  I can do a '>' on a field in a clustering key, which accomplishes what I need.  Closing the issue.

[2020-01-08 03:12] #307 closed

[2020-01-09 18:16] AlexPikalov commented on #301
I've just published CDRS version `2.2.4` which contains fixed version of UUID. It must fix the problem of version inconsistency/multiple version. Also it must fix possible issues with non-semantic versioning of UUID when 0.7 and 0.8 despite having the same major version is not compatible and 0.8 contains a breaking change comparing to 0.7.

[2020-01-09 18:16] #301 closed

[2020-01-29 20:18] Jasperav opened #310 "parameterized IN query"
Is there a macro to support a parameterized IN query?

[2020-01-29 21:28] AlexPikalov commented on #310
@Jasperav
Could you please provide a query example?

[2020-01-29 21:32] AlexPikalov commented on #297
Closing this issue since https://github.com/AlexPikalov/cdrs/pull/309 got merged

[2020-01-29 21:32] #297 closed

[2020-01-30 11:57] Jasperav commented on #310
@AlexPikalov

Say for example I have a table `user_by_username`, and this is the declaration of the table:

[code]

Now a user can request users by sending a request to the server with a list of usernames. With a parameterized ? query, I can execute this if the list equals 2 elements:

`select * from user_by_username where username in (?, ?);`

and with `query_values` I provide the values for the

[2020-01-30 17:47] AlexPikalov commented on #310
@Jasperav
I think non-named query values must help

[code]
Please let me know if you have issues with that.

[2020-01-30 21:46] Jasperav commented on #310
@AlexPikalov yes that will work out for a fixed sized array. The users can send any amount of usernames which I can query, so I need a dynamically sized parameterized in query

[2020-01-31 05:24] AlexPikalov commented on #310
@Jasperav
Thanks. I see your case.

I've prepared a solution for this case, you can find the example in https://github.com/AlexPikalov/cdrs/pull/311. To be able to use it you may need to use CDRS from a branch `feat/310`.

Or, alternatively, you can use

[code]
Please keep in mind that for both cases it is required for vector to by of type `Vec<T>` where `T` must implement `Clone`

[2020-01-31 05:34] AlexPikalov commented on #293
Hi @ayonsaha2011
My apologies for a very late response. I'll try to check CDRS compatibility with Actix ASAP

[2020-01-31 10:48] Jasperav commented on #310
@AlexPikalov Thanks for the quick response! That will work out for the values, do you have an example how this would work out when using an IN query? I am having trouble to understand how I can make it work. Let's say this is my query:

`select * from user_by_username where username in (WhatShouldGoInsideHere?)`

And I get a request from a client with 3 usernames, the query should look like this (

[2020-02-05 20:18] AlexPikalov commented on #310
Hi @Jasperav
It's possible to do it with current CDRS version via `SELECT * FROM table WHERE id IN ?` query and query values `query_values!(ids_vector)`

Please check the tests I've added recently https://github.com/AlexPikalov/cdrs/blob/master/tests/query_values.rs#L39

Please feel free to re-open the issue in case of any problems

[2020-02-05 20:18] #310 closed

[2020-02-08 11:31] lseelenbinder opened #312 "RoundRobin Load Balancing: When a node is down, all 1/N requests always fail."
Due to how the `RoundRobin(Sync)` is configured, whenever one of the backing nodes is down because of outages or maintenance, all requests that would be routed to that R2D2 pool fail (because that pool has no live connections and cannot create anymore).

This is a blocking bug to using the RoundRobin load balancing mechanism, in my opinion, since it removes all possibility of failover to another n

[2020-02-08 18:20] AlexPikalov commented on #312
Hi @lseelenbinder ,
Yes, it was overlooked. Will try to come up with a solution for that bug.
Thanks for reporting

[2020-02-09 14:36] lseelenbinder commented on #312
No problem, @AlexPikalov.

After I realized what was happening, I knew it was a bit of an edge case that wouldn't be too easy to accidentally replicate during testing, but quite common in production because machines are always coming and going during maintenance.

We're just going to revert to SingleNode and use HAProxy to load balance the actual instances, so this isn't a blocker for us to go int

[2020-02-09 16:35] AlexPikalov commented on #312
@lseelenbinder
Good to know that it doesn't block you. However I think it's a good occasion to implement a feature that was requested almost 2 years ago https://github.com/AlexPikalov/cdrs/issues/113 The solution itself may be based on Cassandra server events, namely on topology change: removed node. So if load balancer will remove a node reacting on this event, it may help to avoid the situation

[2020-02-09 17:52] lseelenbinder commented on #312
@AlexPikalov, that's a great idea!

My only concern is keeping the ability to limit which nodes a specific config would ever connect to, regardless of added or removed nodes (even if that means it has no live nodes to talk to).

[2020-02-14 08:17] DoumanAsh opened #315 "rustls alternative ssl feature"
This would be a good alternative on non-linux platforms

[2020-02-14 18:32] AlexPikalov commented on #315
@DoumanAsh

You are absolutely right. It would be great to start using native Rust rustls crate.
Do you think you'd like to give it a shot and prepare some PR? Let me know if you need any help with it.

[2020-02-14 18:42] DoumanAsh commented on #315
Ok, do you want it as separate feature fom `ssl`?
Also, do you want ot allow both `ssl` and `rustls` to be present at the same time?

[2020-02-15 19:55] AlexPikalov commented on #315
I think another feature like `native-ssl` would be a good point to start. Later on, when the implementation will be stabilised we ca deprecate existing `ssl` feature based on `open-ssl` crate in favour of `native-ssl` based on `rustls`.

To start the development you can easily check what is included into `ssl` feature and implement similar structures leveraging `rustls`.

[2020-02-23 14:12] Jasperav opened #317 "Links to examples of complex types do not work"
At page https://github.com/AlexPikalov/cdrs/blob/master/type-mapping.md there are example links below at the complex types, but they do not work.

[2020-02-24 18:29] AlexPikalov commented on #317
@Jasperav
Indeed, they are outdated. Thank you for creating this issue.

[2020-03-02 14:40] AlexPikalov commented on #312
Hi @lseelenbinder ,
I've just completed a draft implementation of dynamic clusters in https://github.com/AlexPikalov/cdrs/pull/313.

These changes will remove dead node from cluster load balancing basing on received `Topology Change` event received from a node. I'm about to test it, but would really appreciate if you could check it from your end if it solves your case. Here is the new session fact

[2020-03-03 09:20] AlexPikalov commented on #312
So far, I've been able to find some issues with a proposed solution. Fixing it

[2020-03-03 12:39] lseelenbinder commented on #312
Hi @AlexPikalov,

Thanks for fixing this! I won't have a chance to test it for a few days, but a one thing about the design is confusing for me.

`NodeTcpConfig` implies a _single_ node is the source for the events, which, in my mind, doesn't actually help us any, since we still have a single point of failure. If that node happens to fail (or go down for maintenance, in the more likely scenario),

[2020-03-11 17:58] ghost opened #318 "No prepared statement with ID {} found."
Hi!
Get this error when trying to update a CF multiple times in Scylla.
I filed an issued to scylla and attached a tcpdump showing the traffic between the driver and the database.
The Scylla team said it's a problem with the driver that's ignoring the error coming from Scylla (seems there's a cache for prepared statements and from time to time it gets evicted) instead of retrying to reprepare the

[2020-03-12 12:53] AlexPikalov commented on #318
Hi @bruno-barin-ifood ,
Can you please provide me with a code snipped that reproduces this behaviour?

[2020-03-12 13:12] bruno-barin-ifood commented on #318
Sure, here you are:

[code]
The link for the issue I've opened to the Scylla team is this one:

https://github.com/scylladb/scylla/issues/5936

[2020-03-12 15:52] AlexPikalov commented on #318
@bruno-barin-ifood
If you have a cluster with more than one Scylla/Cassandra nodes it may be problematic to execute prepared queries with current CDRS implementation - during the next request to cluster next or random node (depending on the balancing strategy) will be used so it may lead to the situation when such not doesn't have a corresponded prepared query registered.
So it that regards CDRS m

[2020-03-12 16:34] bruno-barin-ifood commented on #318
thanks @AlexPikalov !

[2020-03-12 16:51] slivne commented on #318
Please note this can happen also in a single node, that is a Cassandra/Scylla node may invalidate the prepared statements (due to some internal reasons).

When a prepared statement will be executed  the error of not having the prepared statement will be returned (https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L1169)

Most drivers at this point reprepare the statement an

[2020-03-12 17:58] AlexPikalov commented on #318
@bruno-barin-ifood I've just read the conversation inside the issue that you've created for Scylla.

@slivne Got you. It's an interesting fact which was not known to me before.

I think I need to think how to make the driver smarter in that regards.

[2020-03-24 20:06] Cronnay opened #322 "Cannot use hostname instead of IP-address"
Hi there!

Maybe I have been reading the documentation poorly, in that case I apologize. Found similar issues, but they seem to be resolved.

If I run `let node = NodeTcpConfigBuilder::new("192.168.145.139:9042", NoneAuthenticator {}).build();` this will build and work fine. However, if I run:
`let node = NodeTcpConfigBuilder::new("database:9042", NoneAuthenticator {}).build();` I get this message

[2020-03-25 15:45] AlexPikalov commented on #322
Hi @Cronnay,
You are correct host resolving functionality is missed, unfortunatelly.

[2020-03-25 17:39] AlexPikalov commented on #322
I'm going to check if simple `SocketAddr::from` before creating a `TcpStream` would help

[2020-03-25 18:55] AlexPikalov commented on #322
Hi @Cronnay
Could you please check if https://github.com/AlexPikalov/cdrs/pull/324? It must fix the problem you're facing.
If it works I'll be happy to publish the fix asap

[2020-03-26 18:23] #322 closed

[2020-03-30 19:31] AlexPikalov opened #326 "Add link to tokio-async to README.md"
Add link to README.md file which points to async version based on Tokio. https://github.com/AlexPikalov/cdrs/tree/async-tokio

[2020-04-06 08:29] AlexPikalov opened #328 "Externalise Cassandra decoder/encoder logic"
Re-use https://github.com/AlexPikalov/cassandra-proto as a logic for Cassandra frames decoding/encoding

[2020-04-11 04:16] #315 closed

[2020-04-11 04:18] AlexPikalov commented on #124
There is a feature that allows using rust-tls. #321
So, closing this issue

[2020-04-11 04:18] #124 closed

[2020-04-11 04:19] AlexPikalov commented on #113
**NOTE:**
Removing nodes process was implemented.
Adding nodes still remains.

[2020-04-15 20:08] cmsd2 commented on #67
doesn't the driver discover the other nodes in the ring from the initial node(s) it connects to?

[2020-04-16 16:18] AlexPikalov commented on #67
@cmsd2 Not yet, so far there is an option in excluding nodes which went down basing on server events

[2020-04-18 16:54] makorne opened #332 "How to use cdrs blob type for serde?"
Hi
I am novice in Rust, and tried something like this:

[code]
but get the error:

[code]

[2020-04-18 18:02] AlexPikalov opened #333 "Document rustls feature"
Thanks to @DoumanAsh  a support of rustls was added.
Now we need to document it:
* provide an example
* add a subpage to https://github.com/AlexPikalov/cdrs/tree/master/documentation

[2020-04-18 18:21] AlexPikalov commented on #332
Hello @makorne,
You can try `val.as_mut_slice().serialize(serializer)`. I think it should work.

However the better way (from my point of view) is to use `Vec<u8>` in your structures like the field `hash` which you presented. So, after receiving a Blog from a DB you may want to convert it into `Vec<u8>` and put the result into your structure.

[2020-04-19 03:37] makorne commented on #332
Like this?

[code]

`error[E0425]: cannot find value `serializer` in this scope`

I tried `Vec<u8>` at the start.
But got an error:
[code]

[2020-04-19 08:31] AlexPikalov commented on #332
Yes. But this line `val.as_mut_slice().serialize(serializer)` should be in a serializer, shouldn't it?

[2020-04-19 10:29] makorne commented on #332
But the error in question is **not** in serializer.
It is in **deserializer**, please check on top.
So I think you propose some rust kung-fu :)

[2020-04-19 11:13] makorne commented on #332
Ha. I've been trying so long to remove error in deserializer, that was still thinking you wrote me about it some rust kung-fu :)
Yes. But changing does not solve the problem.
[code]
[code]

[2020-04-19 18:00] AlexPikalov commented on #332
I think you can simplify your life a bit by omitting manual implementation. There is something from Serde team that helps to work with byte arrays. https://github.com/serde-rs/bytes
Blob is a Cassandra type that represents a byte array.

So, what you could do is following:
- change `hash: Blob` to `hash: Vec<u8>` in your `struct Data`,
- when you put has into `Data` do [`hash: blob.into_vec()`](ht

[2020-04-20 02:43] makorne commented on #332
But as I wrote before, `Vec<u8>` was throwing cdrs errors:

[code]
What to do with this?
Remove  `TryFromRow`  from  `#[derive(Serialize, Deserialize, Debug, TryFromRow)]`,
and not use` ::try_from_row(row)?` And do its work manually?

[2020-04-20 08:42] AlexPikalov commented on #332
@makorne
Please let me check how `TryFromRow` works in case if some field is a blob (vector of bytes). I'll get back to you in this issue.

[2020-04-20 11:28] AlexPikalov commented on #326
Added

[2020-04-20 11:28] #326 closed

[2020-04-24 08:58] ctopher7 opened #334 "does IF feature already implemented while updating ?"
for example "UPDATE table SET column = 123 WHERE id = uuid IF EXISTS;"

i cant get it working with scylla, but when using cqlsh it works. Im aware scylla only implement this feature (lightweight transaction) on nightly build, and i already tried using cqlsh and it works.

[2020-04-29 07:34] makorne commented on #332
@AlexPikalov
 Hi, I hope you are ok in our pandemic time?

Any news about blob issue?

[2020-05-04 20:28] AlexPikalov commented on #332
Hi @makorne ,
Sorry for quite a late response. The problem cause is in the proc macro that derives `TryFromRow` trait. Unfortunately, I was not able to start the work on it.

[2020-05-17 00:30] MayaWolf opened #335 "rust-tls feature seemingly unusable"
Hi!
First off, thank you for a great library. I saw that support for `rustls` was recently added to cdrs - however, it seems that a crucial part is missing to be able to use it.
Unless I'm overlooking anything, it's currently not actually possible to construct a session to connect using it, as there's no `new_rusttls` (or similar) method available in [session.rs](https://github.com/AlexPikalov/cdr

[2020-05-27 17:04] Jasperav opened #336 "Parameterized page queries"
I want to execute a page query with a paramaterized query, however I don't see a way to do it since it expects a String.

This is the relevant code:
https://github.com/AlexPikalov/cdrs/blob/07f7cf5a475bd18f1be596badff3a620d0a5c01e/src/cluster/pager.rs#L59

[2020-05-28 20:36] AlexPikalov commented on #334
the driver will send whatever query you need, interpretation and execution is completely on server

[2020-05-28 20:36] #334 closed

[2020-05-28 20:42] AlexPikalov commented on #335
@MayaWolf 🙁
It should be added to session. I don't understand why it wasn't.
Anyway, I can assign myself to this issue unless you'd like to try.
Please let me know.

[2020-06-10 07:23] FranciscoKnebel commented on #153
Hey, has there been any advance on this?
Been searching for a good way to do this for weeks, but very stuck.

Using [Chrono DateTime<UTC>](https://docs.rs/chrono/0.4.11/chrono/struct.DateTime.html) for getting dates, but all conversions seem to not work.

Passing .timestamp() (which turns DateTime into i64) was the only option that didn't error, but Cassandra was showing 1970s dates for a timestam

[2020-06-15 09:31] rw opened #340 "How to query with a vec of binary keys?"
I have a vec of binary keys (`Vec<Vec<u8>>`), and I want to provide them as a query value in the following select statement:

[code]

I think I'm getting tripped up on encoding with `query_values!` here. I know how to do the single-key case, by wrapping the key in `cdrs::types::value::Bytes::new(mykey)`. But, I don't understand how to do that with a Vec of bytes keys. One issue I've run into is th

[2020-06-15 19:29] rw commented on #340
I tried using the code in the example here, but it seems to work differently with Vec<u8> than with String: https://github.com/AlexPikalov/cdrs/blob/d28e153db23704af9a78443fff586fcba5ae0c92/tests/query_values.rs#L43

[2020-06-16 20:42] rw commented on #340
@AlexPikalov Thanks! Anything I can do to help? Getting this batching working will significantly speed up our application, because we fetch thousands of objects from Cassandra.

[2020-06-17 14:24] Jasperav commented on #340
Works fine for me. Some pseudo code:

[code]

[2020-06-18 20:20] rw opened #341 "Reproduction of potentially-incorrect Vec<Vec<u8>> encoding with query_values"
Following up on #340, here is a test case to show a potential encoding issue with `Vec<Vec<u8>>` using `query_values!`. I'm not an expert on the CQL binary protocol, but it seems noteworthy to me that each byte in the `Vec<u8>` items is treated, I think, as a 1-element vector. I'm using cdrs 2.3.3.

cc @AlexPikalov

[code]

[2020-06-18 20:22] rw commented on #340
I made a test case reproduction of what I think the encoding problem is: https://github.com/AlexPikalov/cdrs/issues/341

@Jasperav Thanks for the example code, but I'm using `Vec<Vec<u8>>`, not `Vec<String>`.

[2020-06-18 20:30] AlexPikalov commented on #341
Could you please let me know which type for a given column do you have in a Cassandra? Is this some sort of text or blob?

[2020-06-18 20:33] rw commented on #341
@AlexPikalov all blobs!

[2020-06-18 20:34] rw commented on #341
@AlexPikalov this reproduction doesn't use Cassandra at all though. I'm just showing a potential encoding issue.

FWIW, I suspect that `query_values!` is using one of the blanket impls incorrectly: like converting the inner `u8` elements instead of the entire `Vec<u8>` as one item.

[2020-06-18 20:36] rw commented on #341
@AlexPikalov If the blanket impls are the cause of my problem, perhaps there's a type hint I can provide somewhere to make it work? That would be a quick fix.

[2020-06-19 00:54] rw commented on #341
@AlexPikalov Or, I can encode them manually?

[2020-06-19 19:33] AlexPikalov commented on #341
@rw,
If it's blob, please try to use [`Blob`](https://github.com/AlexPikalov/cdrs/blob/master/src/types/blob.rs) instead of `Vec<u8>`

[2020-06-19 20:28] rw commented on #341
@AlexPikalov That works, thank you! I suggest we document this somewhere, because I didn't know how to fix this, even though the fix was simple.

[2020-06-19 20:54] #341 closed

[2020-06-19 20:54] rw commented on #340
Fixed by the suggestion in #341

[2020-06-19 20:54] #340 closed

[2020-06-20 09:26] ctopher7 commented on #243
hi @AlexPikalov is there any trait that I could use so my I could call .try_from_row()? thanks

example:
[code]

[2020-06-20 14:11] AlexPikalov commented on #341
@rw
Makes sense to document it. 👍

[2020-06-23 23:23] fggarcia opened #342 "General("Timed out in bb8")"
after doubling the traffic, our application in the production environment started throwing the following error

General ("Timed out in bb8")

our session configuration:

[code]

Do you have any suggestion?

maybe related to https://github.com/khuey/bb8/issues/67 ??

[2020-06-24 04:02] jamesetaylor3 opened #343 "IntoRustByName using deprecated time::Timespec"
This is great software--helping out my project a ton!

I noticed that the only time struct supported by IntoRustByName is time::Timespec. However, since 0.2.0, Timespec has been deprecated in the time crate. Are there plans to update this? Let me know if I am missing something!

Thanks!

[2020-06-24 20:06] AlexPikalov commented on #343
To be honest, this is first time I hear about `Timespec` deprecation. But of course in this case we must to look for an alternative. If you already have some ideas feel free to submit a PR.

Thanks for this issue, @jamesetaylor3

[2020-06-24 20:11] AlexPikalov commented on #342
It is very likely those are related issues. Let's see what would be a fix from bb8. I'm afraid this is the only one think we as bb8 consumers can do now.

[2020-06-25 00:26] fggarcia commented on #342
Hi @AlexPikalov thanks you so much for your response.

Okey.....wait for a fix from bb8.

Close issue.

[2020-06-25 00:30] fggarcia commented on #318
Hi @AlexPikalov do you have any progress with this issue?

is it possible to add a specific error for this?

[2020-06-28 22:09] except commented on #318
I guess a work around for now is to just query directly with the prepared statement.

[2020-06-30 22:16] AlexPikalov commented on #342
I'd prefer to keep it opened for tracking purposes

[2020-08-12 12:36] bmgeek opened #346 "tracing query"
Hello.

Thanks for CDRS crate!!

We have "prepare_tw" with "with_tracing", but i can't understand how i can get time query (how much time query exec)

[2020-08-15 23:59] a1ph commented on #335
Is there a workaround? How to create a session?

[2020-09-19 00:40] fggarcia commented on #342
Hi @AlexPikalov maybe is preferable to switch to a new connector manager as https://github.com/mozilla-services/syncstorage-rs/issues/794 do. is it possible?? i don't see progress in bb8

[2020-10-16 08:41] olexiyb opened #352 "cargo audit gives lz4-compress is unmaintained"
[code]

I have tried to use [lz4-compression](https://crates.io/crates/lz4-compression), but it requires some improvement in error handling.
I also would recommend taking a look into [lz-fear](https://crates.io/crates/lz-fear)

[2020-11-01 12:25] Jasperav opened #354 "Into for vec does not work"
Copy paste this code inside query_values.rs in the test module:

[code]

This fails, but the test should succeed.

[2020-11-01 13:52] Jasperav commented on #354
This can be closed, I was misusing a paramterized in query. They should not be equal, else Cassandra will complain about bindings

[2020-11-01 13:52] #354 closed

[2020-12-02 18:51] bbarin opened #355 "Connection pool for CDRS 2.x+"
It's more a question than an issue. I'm trying to use CDRS in an actix-web application. I would like to share the database session among the HTTP requests but for that, the struct must implement the `Clone`trait. Given that, `r2d2` would fit nicely. However, when trying to use `TcpConnectionsManager` to pass to a `Pool`from r2d2, I can only get a `TransportTcp` struct and not the Session itself. A

[2020-12-08 19:51] AlexPikalov opened #356 "❗ NEW MAINTAINER IS WANTED❗"
I'm looking for a new maintainer for CDRS with possible full ownership transfer.
If you're interested please drop me an email
![email](https://dummyimage.com/400x150/000/fff.png&text=alex.pikalov.khar@gmail.com)

[2020-12-25 15:54] sisso opened #358 "How can I resolve anonymous/staticpassword dynamically?"
I was trying to make my credentials configurable. Like this:

[code]

That obviously fails as it will generate incompatible types. What would be the proper way?

[2021-01-14 09:15] krojew commented on #356
Some information - the async version is already present here: https://github.com/krojew/cdrs-tokio

[2021-01-18 12:39] Jasperav commented on #356
@krojew I see you are actively developing the async fork! Make sure to also check out https://github.com/scylladb/scylla-rust-driver

[2021-01-29 19:07] #318 closed

[2021-01-29 19:48] AlexPikalov commented on #352
Will try both lz-fear and lz4 https://crates.io/crates/lz4

[2021-02-18 11:32] kawpii commented on #356
@AlexPikalov I think better to point users to official ScyllaDB Rust driver : https://github.com/scylladb/scylla-rust-driver which support CQL and has [better performance than cdrs](https://www.scylladb.com/2021/02/17/scylla-developer-hackathon-rust-driver/)

[2021-02-18 12:09] Jasperav commented on #356
@kaushalyap  I made a PR about this: https://github.com/AlexPikalov/cdrs/pull/361

[2021-07-09 18:13] MauricioFesta opened #362 "Error, function or associated item not found in `uuid::Uuid`"
[code]

`use uuid::Uuid;`

[code]

[code]

[2021-07-14 13:30] #362 closed, assigned to nobody

[2021-11-03 20:36] #356 closed

[2022-04-26 02:04] #342 closed